нельзя самому исправлять код, это учебный реп, я кодю сам

100% готовых решений тоже не надо давать сразу, пока я не попрошу или не скажу что устал. мне научиться нужно, а не моментально решить задачу.