@media (max-width: 1700px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .works {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .works video {
        width: 1310px;
        height: 545px;
        background: transparent;
    }

    .unmute-btn {
        right: 9px;
        bottom: 8px;
        width: 126px;
        height: 126px;
    }

    .unmute-btn svg {
        width: 80px;
        height: 80px;
    }

}