<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Wallet — NFT Marketplace</title>
    <link rel="icon" href="img/svg/bitcoin-icon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/iconFont.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media1120.css">
    <link rel="stylesheet" href="media705.css">
    <link rel="stylesheet" href="signUp.css">
    <link rel="stylesheet" href="connectWallet.css">
</head>

<body>
    <header>
        <div class="headerTop flex container-1280">
            <div class="flex">
                <a href="index.html" target="_blank" title="Go to Home Page">
                    <div class="flex NFTMarketplace audiTo_index">
                        <i class="icon-Storefront"></i>
                        <h5>NFT Marketplace</h5>
                    </div>
                </a>
            </div>
    
    
            <div class="flex headerTopRight">
                <button id="close">&#10006;</button>
                <a href="marketplace.html" target="_blank" class="elMenu" title="Browse the NFT Marketplace">
                    <p class="flex">
                        Marketplace
                    </p>
                </a>
                <a href="topCreators.html" target="_blank" class="elMenu" title="View NFT Rankings">
                    <p class="flex">
                        Rankings
                    </p>
                </a>
                <a href="connectWallet.html" target="_blank" class="elMenu" title="Connect a Wallet">
                    <p class="flex">
                        Connect a wallet
                    </p>
                </a>
                    <button class="buttonWithIcon audioRocket linkToSignUp elMenu">
                        <i class="icon-User"></i>
                        Sign Up
                    </button>
            </div>
            <button class="burgerMenuMobile">
                <i class="icon-BurgerMenu"></i>
            </button>
        </div>
    </header>

    <nav aria-label="breadcrumb" class="breadcrumbs container">
        <ol>
            <li class="audioTo_index"><a href="index.html" title="Go to Home Page" target="_blank">Home</a></li>
            <li>Connect Wallet</li>
        </ol>
    </nav> 

    <main class="container-1280 flex">
        <picture>
            <source srcset="img/CreateAccount/CreateAccountMobile.jpg" media="(max-width: 900px)">
            <source srcset="img/CreateAccount/CreateAccountTablet.jpg" media="(max-width: 1200px)">
            <source srcset="img/CreateAccount/CreateAccount.jpg" media="(min-width: 1200px)">
            <img src="img/CreateAccount/CreateAccountMobile.jpg" alt="signUp-bg" title="Sign Up Background">
        </picture>

        <div class="connectWallet">
            <h1>Connect wallet</h1>
            <p>
                Choose a wallet you want to connect. There are several wallet providers.
            </p>

                <button class="buttonWithIcon BTNconnectWallet1 linkToMetamask">
                    <i></i>
                    <p>Metamask</p>
                <button class="buttonWithIcon BTNconnectWallet2 linkToWalletConnect">
                    <i></i>
                    <p>Wallet Connect</p>
                </button>

                <button class="buttonWithIcon BTNconnectWallet3 linkToCoinbase">
                    <i></i>
                    <p>Coinbase</p>
                </button>

        </div>
    </main>



    <footer>
        <div class="flex container">
            <div>
                <div class="flex NFTMarketplace audiTo_index">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>

                <p>
                    NFT marketplace UI created with Anima for Figma.
                </p>
                <p>
                    Join our community
                </p>
                <div class="flex socialIcons">
                    <a href="https://discord.com/" target="_blank" title="Join us on Discord"><i
                            class="icon-Discord"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" title="Watch us on YouTube"><i
                            class="icon-youtube"></i></a>
                    <a href="https://x.com/" target="_blank" title="Follow us on Twitter/X"><i
                            class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/prosto_van/" target="_blank" title="Follow us on Instagram"><i
                            class="icon-instagram"></i></a>
                </div>
            </div>

            <div>
                <h5>Explore</h5>
                <a href="marketplace.html" target="_blank" title="Browse the NFT Marketplace audiTo_index">
                    <p>Marketplace</p>
                </a>
                <a href="topCreators.html" target="_blank" title="View NFT Rankings">
                    <p>Rankings</p>
                </a>
                <a href="connectWallet.html" target="_blank" title="Connect a Wallet">
                    <p>Connect a wallet</p>
                </a>
            </div>
            <div>
                <h5>Join our weekly digest</h5>
                <p class="m_w_290">Get exclusive promotions & updates straight to your inbox.</p>
                <form action="http://fe.it-academy.by/TestForm.php" method="POST" target="_blank">
                    <div class="flex">
                        <input type="text" placeholder="Enter your email here" name="email">
                        <button class="buttonWithIcon" type="submit">
                            <i class="icon-Envelope mobile"></i>
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <p>&copy; NFT Market. Use this template freely.</p>
        </div>
    </footer>

    <script src="js/linkTo.js"></script>
    <script src="js/burgerMenu.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/resetForm.js"></script>
</body>

</html>