<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/iconFont.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media1120.css">
    <link rel="stylesheet" href="media705.css">
    <title>NFTs</title>
</head>

<body>

    <header>
        <div class="headerTop flex">
            <div class="flex">
                <div class="flex NFTMarketplace">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>
            </div>

            
            <div class="flex headerTopRight">
                <button id="close">&#10006</button>
                <p class="flex elMenu">
                    Marketplace
                </p>
                <p class="flex elMenu">
                    Rankings
                </p>
                <p class="flex elMenu">
                    Connect a wallet
                </p>
                <button class="buttonWithIcon elMenu">
                    <i class="icon-User"></i>
                    Sign Up
                </button>
            </div>
            <button class="burgerMenuMobile">
                <i class="icon-BurgerMenu"></i>
            </button>
        </div>

        <div class="container flex headerMain">
            <div class="headerMainLeft">
                <h1>
                    Discover <i class="perenosDesktop"><br></i> digital art & <i class="perenosDesktop"><br></i> Collect NFTs
                </h1>
                <p class="description">
                    NFT marketplace UI created with Anima for <i class="perenosDesktop"><br></i> Figma. Collect, buy and sell art from more <i class="perenosDesktop"><br></i> than 20k NFT artists.
                </p>
                <div class="tablet">
                    <button class="buttonWithIcon">
                        <i class="icon-Rocket"></i>
                        Get Started
                    </button>
                    <div class="flex indicators">
                        <div>
                            <h3>
                                240k+
                            </h3>
                            <p>
                                Total Sale
                            </p>
                        </div>
                        <div>
                            <h3>
                                100k+
                            </h3>
                            <p>
                                Auctions
                            </p>
                        </div>
                        <div>
                            <h3>
                                240k+
                            </h3>
                            <p>
                                Artists
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="headerMainRight">
                <picture>
                    <source srcset="img/headerMainImg1.jpg" media="(min-width: 1120px)">
                    <source srcset="img/headerMainImg1tablet.jpg" media="(max-width: 1120px)">
                    <img src="img/headerMainImg1.jpg" alt="headerMainImg">
                </picture>
                <div>
                    <h5>
                        Space Walking
                    </h5>
                    <div class="flex">
                        <div class="avatar avatar--15"></div>
                        <p>
                            Animakid
                        </p>
                    </div>
                </div>
            </div>

            <div class="mobile">
                <button class="buttonWithIcon">
                    <i class="icon-Rocket"></i>
                    Get Started
                </button>
                <div class="flex indicators">
                    <div>
                        <h3>
                            240k+
                        </h3>
                        <p>
                            Total Sale
                        </p>
                    </div>
                    <div>
                        <h3>
                            100k+
                        </h3>
                        <p>
                            Auctions
                        </p>
                    </div>
                    <div>
                        <h3>
                            240k+
                        </h3>
                        <p>
                            Artists
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container treadingCollections m-160">
        <div>
            <h2>
                Trending Collections
            </h2>
            <p>
                Checkout our weekly updated trending collection.
            </p>
        </div>


        <div class="trendingCollectionsList">
            <!-- первая карточка -->
            <div class="collectionCard">
                <img src="img/TrendingCollectionBig1.jpg" alt="card_Animals">
                <div class="colectionMiniCard">
                    <img src="img/TrendingCollection1_mini1.jpg" alt="miniCard_1">
                    <img src="img/TrendingCollection1_mini2.jpg" alt="miniCard_2">
                    <div class="cardMore">1025+</div>
                </div>
                <div class="collectionCardInfo">
                    <div class="collectionCardTitle">DSGN Animals</div>
                    <div class="collectionCardAuthor">
                        <div class="avatar avatar--4"></div>
                        <span>MrFox</span>
                    </div>
                </div>
            </div>

            <!-- вторая карточка -->
            <div class="collectionCard tablet">
                <img src="img/TrendingCollectionBig2.jpg" alt="card_Mushrooms">
                <div class="colectionMiniCard">
                    <img src="img/TrendingCollection1_mini2_1.jpg" alt="miniCard_3">
                    <img src="img/TrendingCollection1_mini2_2.jpg" alt="miniCard_4">
                    <div class="cardMore">1025+</div>
                </div>
                <div class="collectionCardInfo">
                    <div class="collectionCardTitle">Magic Mushrooms</div>
                    <div class="collectionCardAuthor">
                        <div class="avatar avatar--14"></div>
                        <span>Shroomie</span>
                    </div>
                </div>
            </div>

            <!-- третья карточка -->
            <div class="collectionCard desktop">
                <img src="img/TrendingCollectionBig3.jpg" alt="card_Disco">
                <div class="colectionMiniCard">
                    <img src="img/TrendingCollection1_mini3_1.jpg" alt="miniCard_5">
                    <img src="img/TrendingCollection1_mini3_2.jpg" alt="miniCard_6">
                    <div class="cardMore">1025+</div>
                </div>
                <div class="collectionCardInfo">
                    <div class="collectionCardTitle">Disco Machines</div>
                    <div class="collectionCardAuthor">
                        <div class="avatar avatar--9"></div>
                        <span>BeKind2Robots</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container topCreators m-160">
        <div class="flex">
            <div>
                <h2>
                    Top Creators
                </h2>
                <p>
                    Checkout Top Rated Creators on the NFT Marketplace
                </p>
            </div>

            <button class="buttonWithIcon tablet">
                <i class="icon-Rocket"></i>
                View Rankings
            </button>
        </div>

        <div class="topCreatorsGrid">
            <div class="creatorCard">
                <div class="number">1</div>
                <img src="img/Avatars/topCreator1.png" alt="topCreator1">
                <div class="creatorCardInfo">
                    <p>Keepitreal</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard">
                <div class="number">2</div>
                <img src="img/Avatars/topCreator2.png" alt="topCreator2">
                <div class="creatorCardInfo">
                    <p>DigiLab</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard">
                <div class="number">3</div>
                <img src="img/Avatars/topCreator3.png" alt="topCreator3">
                <div class="creatorCardInfo">
                    <p>GravityOne</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard">
                <div class="number">4</div>
                <img src="img/Avatars/topCreator4.png" alt="topCreator4">
                <div class="creatorCardInfo">
                    <p>Juaniе</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard">
                <div class="number">5</div>
                <img src="img/Avatars/topCreator5.png" alt="topCreator5">
                <div class="creatorCardInfo">
                    <p>BlueWhale</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard tablet">
                <div class="number">6</div>
                <img src="img/Avatars/topCreator6.png" alt="topCreator6">
                <div class="creatorCardInfo">
                    <p>Mr Fox</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">7</div>
                <img src="img/Avatars/topCreator7.png" alt="topCreator7">
                <div class="creatorCardInfo">
                    <p>Shroomie</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">8</div>
                <img src="img/Avatars/topCreator8.png" alt="topCreator8">
                <div class="creatorCardInfo">
                    <p>Robotica</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">9</div>
                <img src="img/Avatars/topCreator9.png" alt="topCreator9">
                <div class="creatorCardInfo">
                    <p>RustyRobot</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">10</div>
                <img src="img/Avatars/topCreator10.png" alt="topCreator10">
                <div class="creatorCardInfo">
                    <p>Animakid</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">11</div>
                <img src="img/Avatars/topCreator11.png" alt="topCreator11">
                <div class="creatorCardInfo">
                    <p>Dotgu</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
            <div class="creatorCard desktop">
                <div class="number">12</div>
                <img src="img/Avatars/topCreator12.png" alt="topCreator12">
                <div class="creatorCardInfo">
                    <p>Ghiblier</p>
                    <p class="fs16"><span>Total Sales: </span>34.53 ETH</p>
                </div>
            </div>
        </div>

        <button class="buttonWithIcon mobile">
            <i class="icon-Rocket"></i>
            View Rankings
        </button>
    </div>

    <div class="container categories m-160">
        <h2>
            Browse Categories
        </h2>
        <div class="categoriesGrid">
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Art
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Collectibles
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Music
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Photography
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Video
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Utility
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Sport
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="categoryFon">

                </div>
                <div>
                    <p>
                        Virtual Worlds
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container m-160 moreNFTs">
        <div class="flex">
            <div>
                <h2>
                    Discover More NFTs
                </h2>
                <p>
                    Explore new trending NFTs
                </p>
            </div>

            <button class="btnSeeMore tablet">
                <i class="icon-eye"></i>
                See All
            </button>
        </div>

        
        <div class="moreNFTsGrid">
            <!-- первая карточка -->
            <div class="moreNFTsCard">
                <img src="img/moreNFTsCard1.jpg" alt="moreNFTsCard1">
                <div>
                    <p>
                        Distant Galaxy
                    </p>
                    <div class="flex">
                        <div class="avatar avatar--7"></div>
                        <span>
                            MoonDancer
                        </span>
                    </div>

                    <div class="moreNFTsCardPrice">
                        <div>
                            <span>
                                Price
                            </span>
                            <p class="fs16">
                                1.63 ETH
                            </p>
                        </div>
                        <div>
                            <span>
                                Highest Bid
                            </span>
                            <p class="fs16">
                                0.33 wETH
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- вторая карточка -->
            <div class="moreNFTsCard">
                <img src="img/moreNFTsCard2.jpg" alt="moreNFTsCard2">
                <div>
                    <p>
                        Life On Edena
                    </p>
                    <div class="flex">
                        <div class="avatar avatar--17"></div>
                        <span>
                            NebulaKid
                        </span>
                    </div>

                    <div class="moreNFTsCardPrice">
                        <div>
                            <span>
                                Price
                            </span>
                            <p class="fs16">
                                1.63 ETH
                            </p>
                        </div>
                        <div>
                            <span>
                                Highest Bid
                            </span>
                            <p class="fs16">
                                0.33 wETH
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- третья карточка -->
            <div class="moreNFTsCard tablet mobile">
                <img src="img/moreNFTsCard3.jpg" alt="moreNFTsCard3">
                <div>
                    <p>
                        AstroFiction
                    </p>
                    <div class="flex">
                        <div class="avatar avatar--6"></div>
                        <span>
                            Spaceone
                        </span>
                    </div>

                    <div class="moreNFTsCardPrice">
                        <div>
                            <span>
                                Price
                            </span>
                            <p class="fs16">
                                1.63 ETH
                            </p>
                        </div>
                        <div>
                            <span>
                                Highest Bid
                            </span>
                            <p class="fs16">
                                0.33 wETH
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btnSeeMore mobile">
                <i class="icon-eye"></i>
                See All
            </button>
        </div>
    </div>


    <div class="mushroom-gradient-bg">
        <div class="flex container">
            <div class="magicMashroom">
                <div>
                    <div class="flex">
                        <p class="avatar avatar--14"></p>
                        <span>Shroomie</span>
                    </div>
                </div>
                <h2>Magic Mashrooms</h2>
                <button class="btnSeeMore tablet">
                    <i class="icon-eye"></i>
                    See NFT
                </button>
            </div>
            <div class="timer">
                <div class="wrapTimer">
                    <p class="timer-label">Auction ends in:</p>
                    <div class="timer-row">
                        <div class="timer-col">
                            <span class="timer-num">59</span>
                            <span class="timer-text">Hours</span>
                        </div>
                        <span class="timer-sep">:</span>
                        <div class="timer-col">
                            <span class="timer-num">59</span>
                            <span class="timer-text">Minutes</span>
                        </div>
                        <span class="timer-sep">:</span>
                        <div class="timer-col">
                            <span class="timer-num">59</span>
                            <span class="timer-text">Seconds</span>
                        </div>
                    </div>
                </div>
                <button class="btnSeeMore mobile">
                    <i class="icon-eye"></i>
                    See NFT
                </button>
            </div>
        </div>
    </div>


    <div class="container HowItWorks">
        <h2>
            How It Works
        </h2>
        <p>
            Find out how to get started
        </p>

        <div class="howItWorksGrid">
            <div>
                <img src="img/HowItWorks1.png" alt="HowItWorks1">
                <p>Setup Your wallet</p>
                <p>Set up your wallet of choice. Connect it to the Animarket by clicking the wallet icon in the top
                    right corner.</p>
            </div>
            <div>
                <img src="img/HowItWorks2.png" alt="HowItWorks2">
                <p>Create Collection</p>
                <p>Upload your work and setup your collection. Add a description, social links and floor price.</p>
            </div>
            <div>
                <img src="img/HowItWorks3.png" alt="HowItWorks3">
                <p>Start Earning</p>
                <p>Choose between auctions and fixed-price listings. Start earning by selling your NFTs or trading
                    others.</p>
            </div>
        </div>
    </div>


    <div class="container flex JoinUs">
        <picture>
            <source srcset="img/spaceman.jpg" media="(min-width: 1120px)">
            <source srcset="img/spacemanTablet.jpg" media="(max-width: 1120px)">
            <img src="img/spaceman.jpg" alt="spaceman">
        </picture>
        <div>
            <h3>Join our weekly <br> digest</h3>
            <p>Get exclusive promotions & updates <br> straight to your inbox.</p>
            <div class="flex wrapInputBtn">
                <input type="text" placeholder="Enter your email here">
                <button class="buttonWithIcon">
                    <i class="icon-Envelope"></i>
                    Subscribe
                </button>
            </div>
        </div>
    </div>

    <footer>
        <div class="flex container">
            <div>
                <div class="flex NFTMarketplace">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>

                <p>
                    NFT marketplace UI created with Anima for Figma.
                </p>
                <p>
                    Join our community
                </p>
                <div class="flex socialIcons">
                    <i class="icon-Discord"></i>
                    <i class="icon-youtube"></i>
                    <i class="icon-twitter"></i>
                    <i class="icon-instagram"></i>
                </div>
            </div>

            <div>
                <h5>Explore</h5>
                <p>Marketplace</p>
                <p>Rankings</p>
                <p>Connect a wallet</p>
            </div>
            <div>
                <h5>Join our weekly digest</h5>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
                <div class="flex">
                    <input type="text" placeholder="Enter your email here">
                    <button class="buttonWithIcon">
                        <i class="icon-Envelope"></i>
                        Subscribe
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <p>&copy; NFT Market. Use this template freely.</p>
        </div>
    </footer>

    <script src="js/burgerMenu.js"></script>
</body>

</html>