h2 {
    font-size: 51px;
}

.search {
    margin: 80px auto;
}

.search p {
    margin: 10px 0 30px;
}

.wrapInput {
    position: relative;
}

.wrapInput input {
    width: 100%;
    border: 1px solid #858584;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #3B3B3B;
    background: transparent;
    caret-color: #fff;
}

.wrapInput input:focus {
    border: 1px solid #fff;
    color: #fff;
}

.wrapInput button {
    position: absolute;
    right: 23px;
    top: 8px;
    bottom: 0;
    background: transparent;
    border: none;
    font-size: 20px;
}


.sampleNFTs {
    display: flex;
}

.sampleNFTsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    width: 50%;
    color: #858584;
    border-bottom: 3px solid transparent;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.sampleNFTsItemNumber {
    border-radius: 20px;
    background: #3B3B3B;
    padding: 5px 10px;
    font-size: 16px;
}

.activeSample {
    border-bottom: 3px solid #858584;
    color: #fff;
}
.activeSampleNumber {
    background: #858584;
    transition: background 1s, color 1s;
}

.wrapNFTsCards {
    width: 100%;
    background: #3B3B3B;
}

.nftCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px 0;
}

.moreNFTsCard {
    background: #2B2B2B;
}




@media (max-width: 1120px) {
    h2 {
        font-size: 38px;
    }

    .nftCards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 705px) {
    h2 {
        font-size: 28px;
    }

    .nftCards {
        grid-template-columns: repeat(1, 1fr);
    }

    .sampleNFTsItemNumber {
        display: none;
    }

}
