<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/iconFont.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media1120.css">
    <link rel="stylesheet" href="media705.css">
    <link rel="stylesheet" href="marketplace.css">
</head>

<body>
    <div class="headerTop flex container-1280">
        <div class="flex">
            <a href="index.html" target="_blank">
                <div class="flex NFTMarketplace">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>
            </a>
        </div>


        <div class="flex headerTopRight">
            <button id="close">&#10006;</button>
            <p class="flex elMenu">
                Marketplace
            </p>
            <p class="flex elMenu">
                Rankings
            </p>
            <p class="flex elMenu">
                Connect a wallet
            </p>
            <button class="buttonWithIcon elMenu">
                <i class="icon-User"></i>
                Sign Up
            </button>
        </div>
        <button class="burgerMenuMobile">
            <i class="icon-BurgerMenu"></i>
        </button>
    </div>


    <main>
        <div class="search container">
            <h2>
                Browse Marketplace
            </h2>

            <p>
                Browse through more than 50k NFTs on the NFT Marketplace.
            </p>

            <div class="wrapInput">
                <input type="text" placeholder="Search your favourite NFTs">
                <button>
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>

        <div class="sampleNFTs container">
            <div>
                NFTs <div>302</div>
            </div>
            <div>
                Collections <div>67</div>
            </div>
        </div>


        <div class="wrapNFTsCards">
            <div class="nftCards container">
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg1.jpg" alt="NFTsImg1">
                    <div>
                        <p>
                            Magic Mushroom 0325
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--14"></div>
                            <span>
                                Shroomie
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg2.jpg" alt="NFTsImg2">
                    <div>
                        <p>
                            Happy Robot 032
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--9"></div>
                            <span>
                                BeKind2Robots
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg3.jpg" alt="NFTsImg3">
                    <div>
                        <p>
                            Happy Robot 024
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--9"></div>
                            <span>
                                BeKind2Robots
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg4.jpg" alt="NFTsImg4">
                    <div>
                        <p>
                            Designer Bear
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--4"></div>
                            <span>
                                Mr Fox
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg5.jpg" alt="NFTsImg5">
                    <div>
                        <p>
                            Colorful Dog 0356
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--6"></div>
                            <span>
                                Keepitreal
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg6.jpg" alt="NFTsImg6">
                    <div>
                        <p>
                            Dancing Robot 0312
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--17"></div>
                            <span>
                                Robotica
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg7.jpg" alt="NFTsImg7">
                    <div>
                        <p>
                            Cherry Blossom Girl 035
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--7"></div>
                            <span>
                                MoonDancer
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg8.jpg" alt="NFTsImg8">
                    <div>
                        <p>
                            Space Travel
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--16"></div>
                            <span>
                                NebulaKid
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg9.jpg" alt="NFTsImg9">
                    <div>
                        <p>
                            Sunset Dimension
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--15"></div>
                            <span>
                                Animakid
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg10.jpg" alt="NFTsImg10">
                    <div>
                        <p>
                            Desert Walk
                        </p>
                        <div class="flex">
                            <div class="avatar18-19 avatar--19"></div>
                            <span>
                                Catch 22
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg11.jpg" alt="NFTsImg11">
                    <div>
                        <p>
                            IceCream Ape 0324
                        </p>
                        <div class="flex">
                            <div class="avatar18-19 avatar--18"></div>
                            <span>
                                Ice Ape Club
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg12.jpg" alt="NFTsImg12">
                    <div>
                        <p>
                            Colorful Dog 0344
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--12"></div>
                            <span>
                                PuppyPower
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <footer>
        <div class="flex container">
            <div>
                <div class="flex NFTMarketplace">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>

                <p>
                    NFT marketplace UI created with Anima for Figma.
                </p>
                <p>
                    Join our community
                </p>
                <div class="flex socialIcons">
                    <a href="https://discord.com/" target="_blank"><i class="icon-Discord"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="https://x.com/" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/prosto_van/" target="_blank"><i class="icon-instagram"></i></a>
                </div>
            </div>

            <div>
                <h5>Explore</h5>
                <p>Marketplace</p>
                <p>Rankings</p>
                <p>Connect a wallet</p>
            </div>
            <div>
                <h5>Join our weekly digest</h5>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
                <div class="flex">
                    <input type="text" placeholder="Enter your email here">
                    <button class="buttonWithIcon">
                        <i class="icon-Envelope mobile"></i>
                        Subscribe
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <p>&copy; NFT Market. Use this template freely.</p>
        </div>
    </footer>
    <script src="js/burgerMenu.js"></script>
</body>

</html>