<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFT Marketplace — Explore All Collections</title>
    
    <link rel="icon" href="img/svg/bitcoin-icon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    
    <link rel="stylesheet" href="fonts/css/iconFont.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media1120.css">
    <link rel="stylesheet" href="media705.css">
    <link rel="stylesheet" href="marketplace.css">
</head>

<body>

    <header>
        <div class="headerTop flex container-1280">
            <div class="flex">
                <a href="index.html" target="_blank" title="Go to Home Page">
                    <div class="flex NFTMarketplace audiTo_index">
                        <i class="icon-Storefront"></i>
                        <h5>NFT Marketplace</h5>
                    </div>
                </a>
            </div>
    
    
            <div class="flex headerTopRight">
                <button id="close">&#10006;</button>
                <a href="marketplace.html" target="_blank" class="elMenu" title="Browse the NFT Marketplace">
                    <p class="flex">
                        Marketplace
                    </p>
                </a>
                <a href="topCreators.html" target="_blank" class="elMenu" title="View NFT Rankings">
                    <p class="flex">
                        Rankings
                    </p>
                </a>
                <a href="connectWallet.html" target="_blank" class="elMenu" title="Connect a Wallet">
                    <p class="flex">
                        Connect a wallet
                    </p>
                </a>
                    <button class="buttonWithIcon audioRocket linkToSignUp elMenu">
                        <i class="icon-User"></i>
                        Sign Up
                    </button>
            </div>
            <button class="burgerMenuMobile">
                <i class="icon-BurgerMenu"></i>
            </button>
        </div>
    </header>

    <nav aria-label="breadcrumb" class="breadcrumbs container">
        <ol>
            <li class="audioTo_index"><a href="index.html" title="Go to Home Page" target="_blank">Home</a></li>
            <li>Marketplace</li>
        </ol>
    </nav>

    <main>
        <div class="search container">
            <h2>
                Browse Marketplace
            </h2>

            <p>
                Browse through more than 50k NFTs on the NFT Marketplace.
            </p>

            <form>
                <div class="wrapInput">
                    <input type="text" placeholder="Search your favourite NFTs">
                    <button type="reset">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="sampleNFTs container">
            <div class="sampleNFTsItem ">
                NFTs <div class="sampleNFTsItemNumber">302</div>
            </div>
            <div class="sampleNFTsItem">
                Collections <div class="sampleNFTsItemNumber">67</div>
            </div>
        </div>


        <div class="wrapNFTsCards">
            <div class="nftCards container">
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg1.jpg" alt="NFTsImg1" title="Magic Mushroom 0325 by Shroomie">
                    <div>
                        <p>
                            Magic Mushroom 0325
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--14"></div>
                            <span>
                                Shroomie
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg2.jpg" alt="NFTsImg2" title="Happy Robot 032 by BeKind2Robots">
                    <div>
                        <p>
                            Happy Robot 032
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--9"></div>
                            <span>
                                BeKind2Robots
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg3.jpg" alt="NFTsImg3" title="Happy Robot 024 by BeKind2Robots">
                    <div>
                        <p>
                            Happy Robot 024
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--9"></div>
                            <span>
                                BeKind2Robots
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg4.jpg" alt="NFTsImg4" title="Designer Bear by Mr Fox">
                    <div>
                        <p>
                            Designer Bear
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--4"></div>
                            <span>
                                Mr Fox
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard">
                    <img src="img/Marketplace/marketplaceNFTsImg5.jpg" alt="NFTsImg5" title="Colorful Dog 0356 by Keepitreal">
                    <div>
                        <p>
                            Colorful Dog 0356
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--6"></div>
                            <span>
                                Keepitreal
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard tablet">
                    <img src="img/Marketplace/marketplaceNFTsImg6.jpg" alt="NFTsImg6" title="Dancing Robot 0312 by Robotica">
                    <div>
                        <p>
                            Dancing Robot 0312
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--17"></div>
                            <span>
                                Robotica
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard tablet">
                    <img src="img/Marketplace/marketplaceNFTsImg7.jpg" alt="NFTsImg7" title="Cherry Blossom Girl 035 by MoonDancer">
                    <div>
                        <p>
                            Cherry Blossom Girl 035
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--7"></div>
                            <span>
                                MoonDancer
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard tablet">
                    <img src="img/Marketplace/marketplaceNFTsImg8.jpg" alt="NFTsImg8" title="Space Travel by NebulaKid">
                    <div>
                        <p>
                            Space Travel
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--16"></div>
                            <span>
                                NebulaKid
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg9.jpg" alt="NFTsImg9" title="Sunset Dimension by Animakid">
                    <div>
                        <p>
                            Sunset Dimension
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--15"></div>
                            <span>
                                Animakid
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg10.jpg" alt="NFTsImg10" title="Desert Walk by Catch 22">
                    <div>
                        <p>
                            Desert Walk
                        </p>
                        <div class="flex">
                            <div class="avatar18-19 avatar--19"></div>
                            <span>
                                Catch 22
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg11.jpg" alt="NFTsImg11" title="IceCream Ape 0324 by Ice Ape Club">
                    <div>
                        <p>
                            IceCream Ape 0324
                        </p>
                        <div class="flex">
                            <div class="avatar18-19 avatar--18"></div>
                            <span>
                                Ice Ape Club
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moreNFTsCard desktop">
                    <img src="img/Marketplace/marketplaceNFTsImg12.jpg" alt="NFTsImg12" title="Colorful Dog 0344 by PuppyPower">
                    <div>
                        <p>
                            Colorful Dog 0344
                        </p>
                        <div class="flex">
                            <div class="avatar avatar--12"></div>
                            <span>
                                PuppyPower
                            </span>
                        </div>

                        <div class="moreNFTsCardPrice">
                            <div>
                                <span>
                                    Price
                                </span>
                                <p class="fs16">
                                    1.63 ETH
                                </p>
                            </div>
                            <div>
                                <span>
                                    Highest Bid
                                </span>
                                <p class="fs16">
                                    0.33 wETH
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <footer>
        <div class="flex container">
            <div>
                <div class="flex NFTMarketplace">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </div>

                <p>
                    NFT marketplace UI created with Anima for Figma.
                </p>
                <p>
                    Join our community
                </p>
                <div class="flex socialIcons">
                    <a href="https://discord.com/" target="_blank" title="Join us on Discord"><i class="icon-Discord"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" title="Watch us on YouTube"><i class="icon-youtube"></i></a>
                    <a href="https://x.com/" target="_blank" title="Follow us on Twitter/X"><i class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/prosto_van/" target="_blank" title="Follow us on Instagram"><i class="icon-instagram"></i></a>
                </div>
            </div>

            <div>
                <h5>Explore</h5>
                <a href="marketplace.html" target="_blank" title="Browse the NFT Marketplace">
                    <p>Marketplace</p>
                </a>
                <a href="topCreators.html" target="_blank" title="View NFT Rankings">
                    <p>Rankings</p>
                </a>
                <a href="marketplace.html" target="_blank" title="Connect a Wallet">
                    <p>Connect a wallet</p>
                </a>
            </div>
            <div>
                <h5>Join our weekly digest</h5>
                <p class="m_w_290">Get exclusive promotions & updates straight to your inbox.</p>
                <form action="http://fe.it-academy.by/TestForm.php" method="POST" target="_blank">
                    <div class="flex">
                        <input type="text" placeholder="Enter your email here" name="email">
                        <button class="buttonWithIcon" type="submit">
                            <i class="icon-Envelope mobile"></i>
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <p>&copy; NFT Market. Use this template freely.</p>
        </div>
    </footer>

    <script src="js/linkTo.js"></script>
    <script src="js/burgerMenu.js"></script>
    <script src="js/marketplace.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/resetForm.js"></script>
</body>

</html>