@media (max-width: 1120px) {
    .container {
        max-width: 690px;
        padding: 0;
    }

    .perenosDesktop {
        display: none;
    }

    .desktop {
        display: none;
    }
    
    h1 {
    font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .m-160 {
        margin: 80px auto;
    }

    .NFTMarketplace {
        height: 24px;
    }

    .NFTMarketplace h5 {
        font-size: 22px;
    }

    .headerTopRight {
        display: none;
    }

    .burgerMenuMobile {
        display: block;
    }

    .headerTopRight {
        flex-direction: column;
        background: #3b3b3b;
        position: fixed;
        top: 20px;
        right: 50px;
        width: 100%;
        max-width: 220px;
        border-radius: 20px;
        padding: 20px;
        z-index: 4;
    }
    .elMenu {
        justify-content: center;
    }
    .headerTopRight button:last-of-type {
        padding: 14px 46px;
    }

    #close {
        display: block;
        position: absolute;
        top: -13px;
        right: -21px;
    }


    .headerMainLeft h1 {
        font-size: 38px;
    }
    .headerMainLeft p {
        font-size: 16px;
    }

    .indicators h3 {
        font-size: 22px;
    }

    .indicators div {
        width: 90px;
    }


    .trendingCollectionsList {
        grid-template-columns: repeat(2, 1fr);
    }


    .topCreatorsGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .topCreators .flex {
        align-items: flex-end;
        width: 690px;
    }

    .topCreators>.flex>div {
        width: 343px;
    }

    .creatorCard {
        flex-direction: row;
        width: 330px;
        height: 100px;
    }

    .number {
        top: 13px;
        left: 12px;
    }

    .creatorCardInfo {
        text-align: left;
        margin: 20px;
        margin-bottom: 22px;
    }

    .creatorCardInfo p:first-of-type {
        margin-top: 0;
    }

    .creatorCard img {
        width: 60px;
        height: 60px;
    }


    
    .categoriesGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .category {
        width: 150px;
        height: 209px;
    }

    .categoryFon {
        height: 142px !important;
        background-size: 150px 142px !important;
        background-repeat: no-repeat !important;
    }

    .category:nth-of-type(1) div:first-of-type {
        background: url(img/categoryFon1tablet.jpg);
    }
    
    .category:nth-of-type(2) div:first-of-type {
        background: url(img/categoryFon2tablet.jpg);
    }
    
    .category:nth-of-type(3) div:first-of-type {
        background: url(img/categoryFon3tablet.jpg);
    }
    
    .category:nth-of-type(4) div:first-of-type {
        background: url(img/categoryFon4tablet.jpg);
    }
    
    .category:nth-of-type(5) div:first-of-type {
        background: url(img/categoryFon5tablet.jpg);
    }   
    
    .category:nth-of-type(6) div:first-of-type {
        background: url(img/categoryFon6tablet.jpg);
    }
    
    .category:nth-of-type(7) div:first-of-type {
        background: url(img/categoryFon7tablet.jpg);
    }   
    
    .category:nth-of-type(8) div:first-of-type {
        background: url(img/categoryFon8tablet.jpg);
    }


    .moreNFTs > .flex {
        width: 690px;
    }

    .mushroom-gradient-bg::before {
        background-position: 0 0, 0 -130px;
    }

    /* .moreNFTsCard:last-of-type {
        display: none;
    } */


    .magicMashroom h2 {
        font-size: 38px;
        white-space: nowrap;
    }   

    .timer {
        padding: 27px;
        width: 295px;
        height: 144px;
    }

    .timer-row {
        gap: 0;
    }

    .timer-label {
        margin-bottom: 10px;
    }


    .HowItWorks {
        margin: 63px auto 80px;
    }

    .howItWorksGrid > div {
        width: 210px;
        padding: 10px 20px 30px;
    }

    .howItWorksGrid > div > p:last-of-type {
        font-size: 12px;
    }

    .howItWorksGrid > div > img {
        width: 180px;
    }


    .JoinUs {
        padding: 40px 30px;
    }

    .JoinUs > div {
        width: 300px;
        transform: translateX(0);
    }

    .JoinUs h3 {
        font-size: 28px;
    }

    .wrapInputBtn {
        flex-direction: column;
        gap: 16px;
    }

    .wrapInputBtn input {
        width: 300px;
        height: 46px;
    }

    .wrapInputBtn button {
        width: 300px;
        height: 46px;
        position: static;
    }


    footer > .flex {
        flex-direction: column;
        gap: 30px;
    }
   
    



}