<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Creators — NFT Marketplace</title>
    <link rel="icon" href="img/svg/bitcoin-icon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="fonts/css/iconFont.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media1120.css">
    <!-- <link rel="stylesheet" href="media705.css"> -->
    <link rel="stylesheet" href="signUp.css">
    <link rel="stylesheet" href="topCreators.css">
</head>

<body>

    <header>
        <div class="headerTop flex container-1280">
            <div class="flex">
                <a href="index.html" target="_blank" title="Go to Home Page">
                    <div class="flex NFTMarketplace audioTo_index">
                        <i class="icon-Storefront"></i>
                        <h5>NFT Marketplace</h5>
                    </div>
                </a>
            </div>


            <div class="flex headerTopRight">
                <button id="close">&#10006;</button>
                <a href="marketplace.html" target="_blank" class="audioCash elMenu" title="Browse the NFT Marketplace">
                    <p class="flex">
                        Marketplace
                    </p>
                </a>
                <a href="topCreators.html" target="_blank" class="audioTopor elMenu" title="View NFT Rankings">
                    <p class="flex">
                        Rankings
                    </p>
                </a>
                <a href="connectWallet.html" target="_blank" class="audioRocket elMenu" title="Connect a Wallet">
                    <p class="flex">
                        Connect a wallet
                    </p>
                </a>
                <button class="buttonWithIcon audioRocket linkToSignUp elMenu">
                    <i class="icon-User"></i>
                    Sign Up
                </button>
            </div>
            <button class="burgerMenuMobile">
                <i class="icon-BurgerMenu"></i>
            </button>
        </div>


        <nav aria-label="breadcrumb" class="breadcrumbs container">
            <ol>
                <li class="audioTo_index"><a href="index.html" title="Go to Home Page" target="_blank">Home</a></li>
                <li>Top Creators</li>
            </ol>
        </nav>


        <div class="container topCreators">
            <h1>Top Creators</h1>
            <p>Check out top ranking NFT artists on the NFT Marketplace.</p>
        </div>
    </header>

    <main class="container">
        <div class="periodTime flex">
            <div>
                <p>
                    Today
                </p>
            </div>
            <div>
                <p>
                    This Week
                </p>
            </div>
            <div>
                <p>
                    This Month
                </p>
            </div>
            <div>
                <p>
                    All Time
                </p>
            </div>
        </div>


        <div class="sampleCreators flex">
            <p>#</p>
            <p>Artist</p>
            <p>Change</p>
            <p>NFTs Sold</p>
            <p>Volume</p>
        </div>


        <div class="creator flex">
            <div class="number">1</div>
            <div class="artist-info">
                <div class="avatar avatar--1"></div>
                <p class="name">Jaydon Bothman</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">2</div>
            <div class="artist-info">
                <div class="avatar avatar--3"></div>
                <p class="name">Ruben Carder</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">3</div>
            <div class="artist-info">
                <div class="avatar avatar--2"></div>
                <p class="name">Alfredo Septimus</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">4</div>
            <div class="artist-info">
                <div class="avatar avatar--5"></div>
                <p class="name">Davis Franci</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">5</div>
            <div class="artist-info">
                <div class="avatar avatar--10"></div>
                <p class="name">Livia Rosser</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">6</div>
            <div class="artist-info">
                <div class="avatar avatar--4"></div>
                <p class="name">Kianna Donin</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">7</div>
            <div class="artist-info">
                <div class="avatar avatar--14"></div>
                <p class="name">Phillip Lipshutz</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">8</div>
            <div class="artist-info">
                <div class="avatar avatar--17"></div>
                <p class="name">Maria Rosser</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">9</div>
            <div class="artist-info">
                <div class="avatar avatar--13"></div>
                <p class="name">Kianna Stanton</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">10</div>
            <div class="artist-info">
                <div class="avatar avatar--16"></div>
                <p class="name">Angel Lubin</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">11</div>
            <div class="artist-info">
                <div class="avatar avatar--11"></div>
                <p class="name">Allison Torff</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">12</div>
            <div class="artist-info">
                <div class="avatar avatar--9"></div>
                <p class="name">Davis Workman</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">13</div>
            <div class="artist-info">
                <div class="avatar avatar--12"></div>
                <p class="name">Lindsey Lipshutz</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">14</div>
            <div class="artist-info">
                <div class="avatar avatar--15"></div>
                <p class="name">Randy Carder</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">15</div>
            <div class="artist-info">
                <div class="avatar avatar--6"></div>
                <p class="name">Lydia Culhane</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">16</div>
            <div class="artist-info">
                <div class="avatar avatar--7"></div>
                <p class="name">Rayna Bator</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">17</div>
            <div class="artist-info">
                <div class="avatar avatar--8"></div>
                <p class="name">Jocelyn Westervelt</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">18</div>
            <div class="artist-info">
                <div class="avatar avatar--1"></div>
                <p class="name">Marilyn Torff</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">19</div>
            <div class="artist-info">
                <div class="avatar avatar--16"></div>
                <p class="name">Skylar Levin</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
        <div class="creator flex">
            <div class="number">20</div>
            <div class="artist-info">
                <div class="avatar avatar--2"></div>
                <p class="name">Terry Dorwart</p>
            </div>
            <p class="change">+1.41%</p>
            <p class="sold">602</p>
            <p class="volume">12.4 ETH</p>
        </div>
    </main>



    <footer>
        <div class="flex container">
            <div>
                <a href="index.html" target="_blank" class="flex NFTMarketplace audioTo_index">
                    <i class="icon-Storefront"></i>
                    <h5>NFT Marketplace</h5>
                </a>

                <p>
                    NFT marketplace UI created with Anima for Figma.
                </p>
                <p>
                    Join our community
                </p>
                <div class="flex socialIcons">
                    <a href="https://discord.com/" target="_blank" title="Join us on Discord"><i
                            class="icon-Discord"></i></a>
                    <a href="https://www.youtube.com/" target="_blank" title="Watch us on YouTube"><i
                            class="icon-youtube"></i></a>
                    <a href="https://x.com/" target="_blank" title="Follow us on Twitter/X"><i
                            class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/prosto_van/" target="_blank" title="Follow us on Instagram"><i
                            class="icon-instagram"></i></a>
                </div>
            </div>

            <div>
                <h5>Explore</h5>
                <a href="marketplace.html" target="_blank" class="audioCash" title="Browse the NFT Marketplace">
                    <p>Marketplace</p>
                </a>
                <a href="topCreators.html" target="_blank" class="audioTopor" title="View NFT Rankings">
                    <p>Rankings</p>
                </a>
                <a href="connectWallet.html" target="_blank" class="audioRocket" title="Connect a Wallet">
                    <p>Connect a wallet</p>
                </a>
            </div>
            <div>
                <h5>Join our weekly digest</h5>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
                <form action="http://fe.it-academy.by/TestForm.php" method="POST" target="_blank">
                    <div class="flex">
                        <input type="text" placeholder="Enter your email here" name="email">
                        <button class="buttonWithIcon" type="submit">
                            <i class="icon-Envelope mobile"></i>
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <p>&copy; NFT Market. Use this template freely.</p>
        </div>
    </footer>

    <script src="js/linkTo.js"></script>
    <script src="js/burgerMenu.js"></script>
    <script src="js/audio.js"></script>
    <script src="js/resetForm.js"></script>
    <script src="js/topCreators.js"></script>
</body>

</html>