* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: white;
    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* .allFon {
    width: 6000px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
} */

.conteinerGrey {
    /* width: 1920px; */
    background-color: #242424;
    background-size: cover;
    margin: 0 auto;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.fonHead {
    background: url('img/fonHeader.jpeg') no-repeat;
    background-size: cover;
    padding: 1px;
}

header {
    /* width: 4096px;
    height: 3072px; */
    /* background-size: cover; */
    /*4096px 3072px; */
}

p {
    font-weight: 200;
}

button {
    color: white;
}


.logo {
    float: left;
    padding-right: 10px
}

.border {
    border-left: solid 3px white;
    float: left;
    /* display: none; */
}

.border1 {
    border-right: solid 3px wheat;
    float: left;
    /* margin: 1px;
    padding: 1px; */
    /* display: none; */
}

#PSKv {
    float: left;
    margin-left: 5px;
}





.icons {
    float: right;
}

.headButtons {
    text-align: center;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background-color: rgba(28,28,28,0) */
}

.headButtons button {
    margin: 10px;
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: white;
    height: 35px;
    /* padding-top: -30px; */
    /* vertical-align: middle; */
    /* outline: none; */
    /* margin-top: -40px; */
}

.WrapBtns {
    /* border: solid 3px red; */
}

.btnCallUs {
    float: right;
    background-color: #F8B806;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.instLogo {
    float: left;
    margin-right: 10px;
}

/* .instLogo::before{
    content: "12341235";
    border-right: solid 3px red;
} */

.tgLogo {
    float: left;
    margin-left: 10px;
}

.yandexLogo {
    float: left;
    margin-top: -3px;
    margin-right: 40px;
    /* margin-left: 40px; */
}

hr {
    max-width: 5000px;
}

.parkH1 {
    font-size: 3em;
    /* margin-top: 100px; */
}

.btnLookPl {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: black;
}





.imgWrapper {
    float: right;
    position: relative;
    display: inline-block;
    width: 600px;
    height: 425px;
    border-radius: 50px;
}

.imgWrapper img {
    /* width: 100%; */
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 30px;
    /* margin-left: 95px;
    margin-top: 209px; */

}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7bf23;
    border: none;
    border-radius: 50%;
    width: 60px;
    /* размер кнопки */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    /* margin-left: 95px;
    margin-top: 209px; */

}

.playBtn img {
    width: 28px;
    height: 28px;
    fill: white;
    margin: 0;
    padding: 0;
    display: block;
    transform: translateX(3px);
    border-radius: 0;
}

main {
    padding: 0;
}



.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

.shadow {
    width: min-content;
    height: min-content;
    background-color: aqua;
    position: fixed;
    left: 40%;
    top: 40%;
    /* display: none; */
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}

#formWrite {
    text-align: center;
    vertical-align: middle;
}

#form {
    padding-top: 30%;
    padding-bottom: 30%;
}

#close {
    float: right;
}

.contaks {
    color: black;
    /* margin-top: -20px; */
}

.block1 {
    max-width: 40%;
    font-size: 1.65em;
    float: left;
}

.wrapFlex {
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    margin-top: 180px;
    margin-bottom: 180px;
    align-items: center;
    /* по вертикали выровнять по центру */
    justify-content: space-between;
    /* чтобы блоки были по краям */
    gap: 20px;
    /* расстояние между блоками */
}

.block1 h2 {
margin: 20px;
margin-left: 0;
}


.typeHousesText {
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    height: 200px;
    /* max-width: 1920px; */
    font-size: 2em;
    background: url(img/points.png) left no-repeat,
        url(img/lines.png) right no-repeat,
        #242424;
    background-size:
        400px 200px,
        /*размер точек*/
        700px 200px,
        /*размер линий*/
        cover;
}

.typeHousesCards {
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    /* width: 100%; */
    /* height: 400px; */
}

.typeHousesCards div {
    /* width: 25%; */
    /* width: 480px; */
    /* float: left; */
    padding: 0;
}

.typeHousesCards div img {
    /* width: 480px; */
    padding: 0;
}

.typeHousesCards div map {
    padding: 0;
}

.typeHousesCards div map area {
    padding: 0;
}

.consult {
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: normal;
    padding: 0;
    /* text-align: center; */
    /* width: 1920px; */
    /* height: 150px; */
    background-color: #242424;
}

.btnGetConsultation {
    margin-top: 30px;
    margin-bottom: 120px;
    background-color: #F8B806;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.fonSelAp {
    background-color: #242424;
}

.numberHouse {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2em;

}

.selectionAp {
    font-size: 3.5em;
}



.fonGetConsult {
    background: url(img/pointsRight.png) right no-repeat,
        #242424;
    margin-bottom: 50px;
}

/* .fonGetConsult .conteiner{
background-image: url(img/pointsLeft.png) right no-repeat ;
} */

/* .conteiner1920{
width: 1920px;
background-image: url(img/pointsLeft.png) right no-repeat ;
} */

.btnnumberHouse {
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgb(69, 69, 69);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.btnnumberHouse:hover {
    background-color: #F8B806;
}

/* .btnnumberHouse:focus {
    background-color: #F8B806;
}


.btnnumberHouse:active {
    background-color: red;
}

.btnnumberHouse:visited {
    background-color: rgb(16, 28, 161);
} */

.visibleAllTime {
    width: 600px;
    height: 382px;
    background-image: url('img/house1J.jpeg');
}

.SBig {
    display: none;
}

.SBig:target {
    display: block !important;
}

.selectFloor {
    background-color: rgb(69, 69, 69);
    color: white;
    width: 500px;
    font-size: 5em;
}

.wrapperImg {
    float: left;
}

.wrapperSel {
    float: left;
    padding-left: 20px;
}

.numbersOfRooms {
    font-size: 2em;
}

.btnNumbersOfRooms {
    height: 50px;
    width: 50px;
    background-color: rgb(69, 69, 69);
    color: white;
}

.btnNumbersOfRooms:hover {
    background-color: #F8B806;
}

.aboutPark {
    background-color: #242424;
    padding: 0;
    height: 500px;
}

.aboutPark h1 {
    font-size: 3em;
}

.aboutPark p {
    font-size: 1.5em;
    /* font-weight: 200; */
    /*Почему не срабатывает?*/
    margin: 7px 0;
}

.aboutPark p:first-of-type {
    margin: auto;
}

.aboutPark p:last-of-type {
    margin-bottom: 100px;
}

.aboutPark a {
    font-size: 24px;
    font-weight: 100;
}

.aboutPark a:link,
.aboutPark a:visited {
    color: #ffffff;
    text-decoration: none;
}

.imgHrLine {
    display: inline-block;
}

.aboutPark h6 {
    display: inline-block;
    font-size: 20px;
}

.wrapAboutPark {
    float: left;
    font-weight: 100;

}

.divFonAboutPark {
    width: 336px;
    height: 346px;
    background-image: url('img/pointsAboutPark.png');
    float: right;
    position: relative;
    top: 115px;
    right: 230px;
    /* z-index: 5; */
    /* position: absolute;
    
    float: right */
}

.divImgAboutPark {
    width: 512px;
    height: 420px;
    background-image: url('img/aboutPark.png');
    float: right;
    /* top: 500px; */
    /* z-index: 5; */
    /* position: absolute;
  
    float: right */
}


.fonAboutPartImg {
    position: relative;
    top: 120px;
    left: 25px;

    /* float: right;
    width: 900px;
    height: 900px; */
}

.imgAboutPart {
    position: relative;
    bottom: 345px;
    float: right;
    width: 512px;
    height: 420px;

}


.plusLivingComplex {
    padding: 0;
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    height: 200px;
    /* max-width: 1920px; */
    font-size: 2em;
    background: url(img/pointsPlusLivingComplex.png) left no-repeat,
        url(img/lines.png) right no-repeat,
        #242424;
    background-size:
        600px 200px,
        /*размер точек*/
        700px 200px,
        /*размер линий*/
        cover;
}

.iconsPlusLivingCoplex {
    height: 580px;
}

/* .firstRow div, .secondRow div {
    float: left;
    width: 240px;
} */

.iconDivPlusDiv {
    float: left;
    width: 240px;
    margin: 22px;
}

.wrapImgIcon {
    text-align: center;
}

.textIconPlusLiving {
    font-size: 1.5em;
    text-align: center;
    margin-top: 25px;
}

.position {
    height: 653px;
    background-image: url('img/position.png');
}

.optionsLayoutBlock {
    background: url('img/pointsForOptionsLayout.png') right no-repeat,
        rgb(128, 128, 128, 0.2);

}

.optionsLayoutText {
    padding: 0;
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    height: 200px;
    /* max-width: 1920px; */
    font-size: 2em;
    background: url(img/pointsPlusLivingComplex.png) left no-repeat,
        url(img/lines.png) right no-repeat,
        #242424;
    background-size:
        400px 200px,
        /*размер точек*/
        700px 200px,
        /*размер линий*/
        cover;
}

.imgOptionsLayout {
    float: left;
    margin: 10px;
    margin-left: 0;
    width: 545px;
    height: 377px;
    background: url('img/optionLayout1.png');
    background-size: 545px 377px;
}

.SBig2 {
    display: none;
}

.SBig2:target {
    display: block !important;
}

.aboutOptionsLayout {
    float: left;
    font-size: 1.5em;
    margin: 10px;
    margin-right: 0;
}

.aboutOptionsLayout button {
    color: black;
}

.aboutOptionsLayout p {
    font-size: 0.8em;
    margin: 10px 0px 25px 10px;
}

.aboutOptionsLayout p:last-child {
    margin-bottom: 10px;
}

.aboutOptionsLayout p:last-child {
    font-style: italic;
}

.aboutOptionsLayout p:nth-child(4) {
    font-weight: 400;
}

.optionsLayoutBlock a {
    float: left;
    margin-top: -30px;
    margin-right: 5px;
}

.optionsLayoutBlock a:hover {
    border: #f7bf23 solid 6px;
}

.optionsLayoutBlock button {
    float: left;
    width: 575px;
    height: 50px;
    border-radius: 15px;
    background-color: #F8B806;
}


.comfortableLifeText {
    padding: 0;
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    height: 200px;
    /* max-width: 1920px; */
    font-size: 2em;
    background: url(img/pointsForComfLive.png) right no-repeat,
        url(img/linesForComfLive.svg) left no-repeat,
        #242424;
    background-size:
        600px 200px,
        /*размер точек*/
        500px 200px,
        /*размер линий*/
        cover;
}

.quote {
    display: inline-block;
    float: left;
    width: 500px;
    margin-top: -45px;
    /* height: 1310px; */
}

.comfortableLifeBlock {}

.quote div:first-child {
    font-size: 15em;
    margin-bottom: -80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quote div:last-child {
    font-size: 15em;
    float: right;
    margin-top: -165px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.quote p {
    font-size: 1.8em;
}

.comfortableLifeBlock img[src="img/comfortLive1.png"] {
    width: 610px;
    margin-left: 30px;
}


.SBig3 {
    display: none;
}

.SBig3:target {
    display: block !important;
}

.btnsComfortLive {
    margin: 40px 0 25px;

}

.btnsComfortLive button {
    background-color: #797979;
    width: 20%;
    height: 50px;
    margin: auto -2px auto -2px;
    border: none;
    cursor: pointer;
}

.btnsComfortLive button:hover {
    background-color: #F8B806;
}

.imgComfLive {
    width: 1140px;
    height: 578px;
    background: url('img/ComfLandscaping.png');
    background-size: 1140px 578px;
}

.imgComfLive img {
    width: 1140px;
    height: 578px;
}

.imgComfLive div:last-child {
    width: 590px;
    height: 620px;
    background: url(img/pointsForComfLiveBlock.png);
    background-size: 590px 620px;
    float: right;
    /* margin-top: -150px; */
    margin-right: -50px;
}

.flatFromOwner {
    margin-bottom: 1px;
}

.flatFromOwner h1 {
    font-size: 4.5em;
}

.flatFromOwner h2 {
    font-size: 4em;
    margin: 30px 32px auto 0;
    /* display: inline-block; */
}

.flatFromOwner p {
    margin-bottom: 105px;
    font-size: 2em;
    font-weight: 100;
    /* display: inline-block; */
}

.flatFromOwner div:last-of-type {
    width: 842px;
    height: 858px;
    margin-left: 688px;
    margin-top: -875px;
    /* background-color: rgba(186, 70, 70, 0.5); */
}

.flatFromOwner div:first-of-type {
    /* display: inline-block; */
}

img[src="img/flatFromOwner1.png"] {
    /* margin-right: 15px; */
    margin-top: 20px;
}

img[src="img/flatFromOwner2.png"] {}

img[src="img/flatFromOwner3.png"] {}

img[src="img/flatFromOwner4.png"] {}


.requestBlock {
    background: url('img/pointsForRequest.png') left no-repeat,
        rgb(128, 128, 128, 0.2);

    padding: 30px 0;
}

.requestBlock h4 {
    font-size: 2em;
    margin: 20px auto;
    
}

.wrapRequest{
    padding: 50px auto;
}

.requestBlock input:first-child,
.requestBlock input:first-child+input {
    background-color: rgb(84, 84, 84);
    border-radius: 15px;
    width: 370px;
    height: 50px;
}

.btnLeaveRequest {
    width: 370px;
    height: 50px;
    background-color: #F8B806;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.wrapInputs1Line {
    margin-bottom: 20px;
}

#agreePersDate {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#agreePersDateText1 {
    font-size: 1.5em;
    font-weight: 100;
    color: red;
}

#agreePersDateText2 {
    font-size: 1.5em;
    font-weight: 100;
    color: orange;
}


.wrapInputs3Line button:nth-child(2),
.wrapInputs3Line button:last-child {
    display: inline-block;
    position: relative;
    top: 13px;
}

.wrapInputs3Line button {
    background-color: rgb(84, 84, 84);
    border-radius: 15px;
    width: 900px;
    height: 60px;
    cursor: pointer;
    margin-right: 15px;
}

.wrapInputs3Line button:last-child, .wrapInputs3Line button:first-child + button {
    width: 60px;
    /* margin-top: 10px; */
}


/* img[src="img/map1.png"] {
    margin: 50px auto;
} */


/* .wrapFooter1 {
    height: 500px;
} */

.footerBlock1 {
    float: left;
}
.footerBlock2 {
    float: right;
    margin-top: 177px;
}
.footerBlock2 p, .footerBlock3 p {
   margin-bottom: 10px;
   font-size: 1.5em;
}
.footerBlock3 {
    float: right;
    margin-top: 177px;
    margin-right: 60px;
}

#logoFooter {
    padding-top: 50px;
    padding-bottom: 10px;
}
.phoneNumber {
    margin-bottom: 60px;
}
.heartService {
    display: flex;
    justify-content: center;
    /* по горизонтали */
    align-items: center;
    /* по вертикали */
    width: 200px;
    height: 60px;
    /* padding: 16px; */
    background-color: #F8B806;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}
#heartLogo {
    /* margin: 10px 10px auto auto; */
}
.heartService p {
    text-align: left;
    margin-left: 10px;
}
