.mobileVersion {
    display: none;
}

.compVersion {
    display: block;
}

.imgsCard {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.imgsCard > div:nth-of-type(1) {
    width: 500px;
    height: 484px;
    background: url('../img/cards/cardComfort3.jpg');
}

.miniImgsCard {
    display: flex;
    gap: 25px;
}

.miniImgsCard button {
    width: 150px;
    height: 150px;
    border: none;
    position: relative;
    overflow: hidden;
}

.miniImgsCard button::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../img/cards/fonForMini-card.png');
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}

.miniImgsCard button.active::after,
.miniImgsCard button:hover::after {
    opacity: 1;
}

.wrapDiscription {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
}

h1 {
    font-size: 55px;
    font-weight: 400;
}

.discription {
    margin: 36px 0 62px;
}

.parameters {
    margin: 40px 0;
}

p {
    font-size: 25px;
    font-weight: 400;
}

button {
    width: 206px;
    height: 56px;
    font-size: 26px;
}

hr {
    height: 2px;
    background-color: #AF9678;
}

.wrapBtn button:first-of-type {
    background: none;
    margin-right: 50px;
}

.BTNReference {
    margin-bottom: 0;
}










