<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../media480.css">
    <link rel="stylesheet" href="catalog.css">
    <link rel="stylesheet" href="catalog480.css">
    <link rel="stylesheet" href="cardComfort3.css">
    <link rel="stylesheet" href="cardComfort3_480.css">
    <title>Шкаф-купе Comfort/3</title>
</head>

<body>
    <div class="list1">
        <div class="conteiner header" id="start">
            <div class="btnMenu">
                <button>
                    <img src="../img/logos/btnMenu.svg" alt="">
                </button>
                <div class="menuMobile">
                    <button id="close">&#10006</button>
                    <ul>
                        <li><a href="../index.html#aboutUs">О нас</a></li>
                        <li><a href="../index.html#catalog">Каталог</a></li>
                        <li><a href="../index.html#matFit">Материалы</a></li>
                        <li><a href="../index.html#price">Рассчитать<br>стоимость</a></li>
                        <li><a href="../index.html#reviews">Отзывы</a></li>
                        <li><a href="../index.html#contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <p class="logo">
                MADESHAF
            </p>
            <div class="wrapMenu">
                <ul>
                    <li><a href="../index.html#aboutUs">О нас</a></li>
                    <li><a href="../index.html#catalog">Каталог</a></li>
                    <li><a href="../index.html#matFit">Материалы</a></li>
                    <li><a href="../index.html#price">Рассчитать<br>стоимость</a></li>
                    <li><a href="../index.html#reviews">Отзывы</a></li>
                    <li><a href="../index.html#contacts">Контакты</a></li>
                </ul>
            </div>
            <p class="telTimeWork">
                +375259199290
                <br>
                Пн-Пт: 10:00-18:00
            </p>
        </div>
    </div>

    <p class="catalogPath conteiner">
        <a href="../index.html">Главная</a> / <a href="../index.html#catalog">Каталог</a> / <a
            href="catalog.html">Шкаф-купе</a> / <a href="">Шкаф-купе Comfort/3</a>
    </p>

    <h1 class="mobileVersion conteiner">
        Шкаф Comfort/3
    </h1>


    <div class="conteiner flexConteiner">
        <div class="imgsCard">
            <div>
                <img src="../img/cards/cardComfort3.jpg" width="500px" height="484px" alt="mainImg"> 
                <!-- <img src="../img/cards/cardComfort3.jpg" class="mobileVersion" alt="" width="288px" height="268px"> -->
            </div>
            <div class="miniImgsCard">
                <button><img class="compVersion" src="../img/cards/cardComfort3_mini1.jpg" alt=""> <img class="mobileVersion" src="../img/cards/cardComfort3_mini1.jpg" width="98px" height="108px" alt=""></button>
                <button><img class="compVersion" src="../img/cards/cardComfort3_mini2.jpg" alt=""> <img class="mobileVersion" src="../img/cards/cardComfort3_mini2.jpg" width="98px" height="108px" alt=""></button>
                <button><img class="compVersion" src="../img/cards/cardComfort3_mini3.jpg" alt=""> <img class="mobileVersion" src="../img/cards/cardComfort3_mini3.jpg" width="98px" height="108px" alt=""></button>
            </div>
        </div>

        <div class="wrapDiscription">
            <div>
                <h1 class="compVersion">
                    Шкаф Comfort/3
                </h1>
                <p class="discription">
                    Шкафы-купе в стиле минимализма очень популярны на сегодняшний день, т. к. с их помощью можно скрыть
                    стену, зрительно расширить небольшое помещение, сэкономить пространство. Внешняя сдержанность
                    минималистского шкафа-купе позволяет ему лаконично вписаться в интерьер, добавить элегантности и
                    изысканности. Такая мебель подойдет тем, кто ценит четкость линий, простоту, не приемлет броских
                    цветов и «нагруженности».
                </p>
            </div>
            <hr>
            <p class="parameters">
                Материал : ЛДСП
                <br>
                Вставка на дверях: зеркало
                <br>
                Размер : 260/160/60
            </p>
            <div class="wrapBtn">
                <button>
                    Цена 1500р
                </button>
                <button class="BTNReference">
                    Заказать
                </button>
            </div>
        </div>
    </div>

    <footer>
        <div class="conteiner wrapFooter flexConteiner">
            <div>
                <p class="footerLogo">
                    MADESHKAF
                </p>
                <img src="../img/mapFooterMobile.jpg" alt="" class="mapFooterMobile">
                <img src="../img/logos/pointFooter.png" alt="" class="pointFooterMobile">
            </div>
            <ul>
                <li><a href="../index.html#aboutUs">О нас</a></li>
                <li><a href="../index.html#catalog">Каталог</a></li>
                <li><a href="../index.html#matFit">Материалы</a></li>
                <li><a href="../index.html#price">Цены</a></li>
                <li><a href="../index.html#reviews">Отзывы</a></li>
                <li><a href="../index.html#contacts">Контакты</a></li>
            </ul>
            <div>
                <img src="../img/mapFooter.jpg" alt="" class="mapFooter">
                <img src="../img/logos/pointFooter.png" alt="" class="pointFooter">
            </div>
        </div>
    </footer>
    <script src="../js/menuGamb.js"></script>
    <script src="../js/cards.js"></script>
</body>

</html>