.light {
    position: absolute;
    width: 270px;
    height: 249px;
    border-radius: 32px;
    opacity: 1;
    z-index: -1;
}

.l1 {
    left: 531px;
    top: -93px;
    width: 291px;
    background: #B1BFFE;
    filter: blur(64px);
    transform: rotate(146.9deg);
}

.l2 {
    left: -294px;
    top: 315px;
    width: 497px;
    background: #EBFF79;
    filter: blur(64px);
    transform: rotate(-12deg);
}

.l3 {
    left: 850px;
    top: 281px;
    width: 227px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(17deg);
}

.l4 {
    left: 1415px;
    top: 656px;
    width: 270px;
    background: #ADC0FC;
    filter: blur(64px);
    transform: rotate(-15deg);
}

.l5 {
    left: 210px;
    top: 835px;
    width: 398px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(35deg);
}

.l6 {
    left: -113px;
    top: 1664px;
    background: #ADC0FC;
    filter: blur(64px);
    transform: rotate(-15deg);
}

.l7 {
    left: 460px;
    top: 1409px;
    width: 227px;
    background: #AA80EC;
    filter: blur(64px);
    transform: rotate(17deg);
}

.l8 {
    top: 1459px;
    left: 1230px;
    width: 497px;
    background: #EBFF79;
    filter: blur(64px);
    transform: rotate(-25deg);
}

.l9 {
    left: 1103px;
    top: 1932px;
    width: 398px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(30deg);
}

.l10 {
    left: 359px;
    top: 2426px;
    width: 497px;
    background: #EBFF79;
    filter: blur(90px);
    transform: rotate(15deg);
}

.l11 {
    left: -255px;
    top: 2529px;
    width: 227px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(17deg);
}

.l12 {
    left: -8px;
    top: 2984px;
    width: 398px;
    background: #AA80EC;
    filter: blur(60px);
    transform: rotate(120deg);
}

.l13 {
    left: 298px;
    top: 3618px;
    width: 497px;
    background: #EBFF79;
    filter: blur(90px);
    transform: rotate(15deg);
}

.l14 {
    left: -228px;
    top: 4041px;
    background: #ADC0FC;
    filter: blur(90px);
    transform: rotate(-15deg);
}

.l15 {
    left: 909px;
    top: 4359px;
    background: #ADC0FC;
    filter: blur(80px);
    transform: rotate(-15deg);
}

.l16 {
    left: 1439px;
    top: 3474px;
    width: 1087px;
    height: 934px;
    background: #AA80EC;
    border-radius: 361.59px;
    filter: blur(227px);
    transform: rotate(-37.86deg);
}

.l17 {
    left: -412px;
    top: 4543px;
    width: 398px;
    background: #AA80EC;
    filter: blur(90px);
    transform: rotate(-60deg);
}

.l18 {
    left: 1677px;
    top: 2711px;
    background: #ADC0FC;
    filter: blur(90px);
    transform: rotate(-15deg);
}