* {
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: white;
    font-family: "Cuprum", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
    

}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.fonHead{
    background: url('img/fonHeader.png') no-repeat;

}

header {
    /* width: 4096px;
    height: 3072px; */
    /* background-size: cover; */
    /*4096px 3072px; */
}



.logo {
    float: left;
    padding-right: 10px
}

.border {
    border-left: solid 3px white;
    float: left;
    /* display: none; */
}

.border1 {
    border-right: solid 3px wheat;
    float: left;
    /* margin: 1px;
    padding: 1px; */
    /* display: none; */
}

#PSKv {
    float: left;
    margin-left: 5px;
}





.icons {
    float: right;
}

.headButtons {
    text-align: center;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background-color: rgba(28,28,28,0) */
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: white;
    /* padding-top: -30px; */
    /* vertical-align: middle; */
    /* outline: none; */
    /* margin-top: -40px; */
}

.WrapBtns {
    /* border: solid 3px red; */
}

.callUs {
    float: right;
    background-color: #F8B806;
    border-radius: 5px;
    padding: 10px;
    /* margin-top: -50px не поднимает */
}

.instLogo {
    float: left;
}

/* .instLogo::before{
    content: "12341235";
    border-right: solid 3px red;
} */

.tgLogo {
    float: left;
}

.yandexLogo {
    float: left;
    margin-top: -3px;
}

hr {
    color: blue;
    size: 50px;
}

.parkH1{
    margin-top: 100px;
}

.btnLookPl{
    border-radius: 10px;
    padding: 10px;
}

.video{
    float: right;
}