* {
    margin: 5px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: white;
    font-family: "Cuprum", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */


}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.fonHead {
    background: url('img/fonHeader.png') no-repeat;

}

header {
    /* width: 4096px;
    height: 3072px; */
    /* background-size: cover; */
    /*4096px 3072px; */
}



.logo {
    float: left;
    padding-right: 10px
}

.border {
    border-left: solid 3px white;
    float: left;
    /* display: none; */
}

.border1 {
    border-right: solid 3px wheat;
    float: left;
    /* margin: 1px;
    padding: 1px; */
    /* display: none; */
}

#PSKv {
    float: left;
    margin-left: 5px;
}





.icons {
    float: right;
}

.headButtons {
    text-align: center;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background-color: rgba(28,28,28,0) */
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: white;
    /* padding-top: -30px; */
    /* vertical-align: middle; */
    /* outline: none; */
    /* margin-top: -40px; */
}

.WrapBtns {
    /* border: solid 3px red; */
}

.btnCallUs {
    float: right;
    background-color: #F8B806;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.instLogo {
    float: left;
}

/* .instLogo::before{
    content: "12341235";
    border-right: solid 3px red;
} */

.tgLogo {
    float: left;
}

.yandexLogo {
    float: left;
    margin-top: -3px;
}

/* hr {
    color: blue;
    size: 50px;
} */

.parkH1 {
    font-size: 3em;
    margin-top: 100px;
}

.btnLookPl {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

/* .block1{
    float: left;
}

.video{
    float: right;
} */
/*они гасят фон*/

.imgVideo {
    margin-left: 590px;
    margin-top: -200px;
    width: 535px;
    height: 380px
}

.video {
    margin-left: 590px;
    margin-top: -200px;
    width: 535px;
    height: 380px;
    background-image: url(img/video1.png);
    border-radius: 20px;
    text-align: center;
    /* vertical-align: middle; */

}

.video button {
    width: 70px;
    height: 70px;
    /* background-color: rgba(0, 0, 0, 0); */
    /* vertical-align: middle; */
    background: url(img/btnPlay.png) 50% 50%;
    border: 0;
}



.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

.shadow {
    width: min-content;
    height: min-content;
    background-color: aqua;
    position: fixed;
    left: 40%;
    top: 40%;
    /* display: none; */
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}

#formWrite {
    text-align: center;
    vertical-align: middle;
}

#form {
    padding-top: 30%;
    padding-bottom: 30%;
}

#close {
    float: right;
}

.contaks {
    color: black;
    /* margin-top: -20px; */
}