footer {
    background-color: #E2DCCD;
}

footer .container1240 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px 0;
}

footer a {
    color: rgba(87, 86, 126, 1);
    font-size: 18px;
}

footer a:hover {
    color: #eaff67;
}

.footer-left, .footer-left2, .footer-center, .footer-right, .wrapFoterlinks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 300px;
}

.footer-left {
    position: relative;
    top: -26px;
}

.footer-left img {
    position: relative;
    right: 21px;
}

.bankCards {
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 30px;
}
.footer-icon {
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.12) rotate(-2deg);
    filter: brightness(1.2) drop-shadow(0 2px 8px rgba(0,0,0,0.10));
   
}
.footer-icon:hover circle,
.footer-icon:hover path {
    fill: #FF4053; 
}

/* Цвет иконки WhatsApp в футере */
.footer-left a[title="WhatsApp"] svg path {
    fill: #063F1B;
    transition: fill 0.2s;
}
.footer-left a[title="WhatsApp"]:hover svg path {
    fill: #DF6417;
}

.requisites {
    font-size: 14px;
    color: #263238;
   
}

@media (max-width: 1400px) {
    footer .container1240 {
        padding: 30px 0 40px 0;
    }

    footer .footer-left,
    footer .footer-left2,
    footer .footer-center,
    footer .footer-right,
    footer .wrapFoterlinks {
        gap: 30px;
    }

    footer a {
        font-size: 16px;
    }

    .logo-footer {
        width: 200px;
    }
}


