.shadow {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    position: relative;
    /* max-width: 600px;

margin: auto;
color: #000;
border-radius: 15px;
padding: 30px;
cursor: default; */
}

.modal {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: aqua;
    margin-left: -250px;
    margin-top: -150px;

    /* position: relative;
    max-width: 600px;
    margin: auto;
    color: #000;
    border-radius: 15px;
    padding: 30px;
    cursor: default; */
}

.SNAP {
    position: relative;
    float: right;
    margin: 60px;
}

#snap {
    position: fixed;
    text-align: center;
    align-items: center;
    color: white;
    background: aqua;
    width: 60px;
    height: 60px;
    line-height: 10px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 0;
    right: 10px;
    font-size: 2em;
}

#snap:hover {
    background-color: red;

}