.modal{
position: fixed;
}

.shadow {
    width:min-content;
    height:min-content;
    background-color: aqua;
    position: fixed;
    left: 40%;
    top: 40%;
    display: none;
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;


    /* position: relative; */
    /* max-width: 600px;*/
}

#formWrite{
    text-align: center;
    vertical-align: middle;
    /* height: 50vh; */
}

#form{
    /* height: 50vh; */
    /* vertical-align: middle; */
padding-top: 30%;
padding-bottom: 30%;

}

#close{
    float: right;
}

.SNAP {
    position: relative;
    float: right;
    margin: 60px;
}

#snap {
    position: fixed;
    text-align: center;
    align-items: center;
    color: white;
    background: aqua;
    width: 60px;
    height: 60px;
    line-height: 10px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 0;
    right: 10px;
    font-size: 2em;
}

#snap:hover {
    background-color: red;

}