<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>Madeshaf</title>
</head>

<body>
    <div class="list1">
        <div class="conteiner header" id="start">
            <p class="logo">
                MADESHAF
            </p>
            <ul>
                <li>О нас</li>
                <li>Каталог</li>
                <li>Материалы</li>
                <li>Рассчитать<br>стоимость</li>
                <li>Отзывы</li>
                <li>Контакты</li>
            </ul>
            <p class="telTimeWork">
                +375259199290
                <br>
                Пн-Пт: 10:00-18:00
            </p>
        </div>

        <div class="conteiner flexConteiner wrapList1">
            <div class="discount">
                <h1>
                    Шкафы на заказ
                </h1>
                <p>
                    По заявке с сайта скидка 10% каждому покупателю
                </p>
                <p>
                    До конца скидки осталось:
                </p>
                <div class="timer">
                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        30
                    </div>

                    <div class="square">
                        59
                    </div>
                    <br>
                    <span>Дни</span><span>Часы</span><span>Мин</span><span>Сек</span>


                    <form action="">
                        <input type="text" placeholder="    Введите номер телефона">
                        <br>
                        <button class="BTNReference" type="submit">
                            Получить скидку
                        </button>
                    </form>
                </div>
            </div>
            <div class="linksMasangers">
                <div>

                </div>
                <div>
                    <ul>
                        <li><a href=""></a><img src="img/logos/viber.png" alt="viber"></li>
                        <li><a href=""></a><img src="img/logos/tg.png" alt="telegram"></li>
                        <li><a href=""></a><img src="img/logos/what'sApp.png" alt="whatsapp"></li>
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="conteiner list2">
        <div class="wrapFrame">
            <div class="frame1"></div>
            <div class="frame2"></div>
            <div class="frame3"></div>
            <div class="frame4"></div>
        </div>

        <div>
            <h1 class="h1Title">
                Узнайте стоимость<br>мебели
            </h1>
            <p class="pDiscraption">
                Ответь на вопросы,получи скидку и бесплатный<br>дизайн проект
            </p>
            <button class="BTNReference">
                Пройти тест
            </button>
        </div>
    </div>

    <button class="BTNfixed">
        <a href="#start"><img src="img/btnTop.png" alt="top"></a>
    </button>

    <div class="conteiner aboutUs">
        <h1 class="h1Title">
            О нас
        </h1>
        <p>
            Мы рады видеть вас на нашем сайте, здесь представлены примеры наших работ и мебель, которую мы можем
            изготовить, в том числе по вашим индивидуальным запросам.
            Мы поможем сделать вашу квартиру, дом или офис более комфортным, функциональным и привлекательным. В
            производстве мебели мы используем лучшие материалы и современное оборудование, чтобы создавать по-настоящему
            красивую, удобную и качественную мебель.
        </p>
    </div>

    <div class="conteiner WhyChooseUs">
        <h1 class="h1Title">
            Почему более 14 лет клиенты выбирают нас:
        </h1>
        <div class="BTNIcons flexConteiner">
            <div class="iconWithText">
                <button class="icon1">
                </button>
                <span>Рассрочки</span>
            </div>
            <div class="iconWithText">
                <button class="icon2">
                </button>
                <span>Заводские<br>цены</span>
            </div>
            <div class="iconWithText">
                <button class="icon3">
                </button>
                <span>Оперативные<br>сроки</span>
            </div>
            <div class="iconWithText">
                <button class="icon4">
                </button>
                <span>Акции, скидки,<br>бонусы</span>
            </div>
            <div class="iconWithText">
                <button class="icon5">
                </button>
                <span>Европейское<br>качество</span>
            </div>
            <div class="iconWithText">
                <button class="icon6">
                </button>
                <span>Бесплатная 3d<br>визуализация</span>
            </div>
        </div>

        <div class="payLater">
            <div class="frameForPayLater1"></div>
            <div class="frameForPayLater2 pDiscraption flexConteiner">
                <p>Возможность рассрочки от нашей компании с 0% переплат!</p>
                <div></div>
            </div>
        </div>
    </div>


    <div class="conteiner catalog">
        <h1 class="h1Title">
            Каталог
        </h1>

        <div class="flexConteiner">
            <div class="wrapFrame catalogImg">
                <p class="catalogText1">
                    Шкаф-купе
                </p>
                <div class="frame1"></div>
                <div class="frame2"></div>
                <div class="frame3"></div>
                <div class="frame4"></div>
            </div>
            <div class="wrapFrame catalogImg">
                <p class="catalogText2">
                    Шкаф с распашными дверями
                </p>
                <div class="frame1"></div>
                <div class="frame2"></div>
                <div class="frame3"></div>
                <div class="frame4"></div>
            </div>
            <div class="wrapFrame catalogImg">
                <p class="catalogText3">
                    Кухни
                </p>
                <div class="frame1"></div>
                <div class="frame2"></div>
                <div class="frame3"></div>
                <div class="frame4"></div>
            </div>
        </div>
    </div>

    <div class="conteiner modernMaterials">
        <h1 class="h1Title">
            Современные материалы
        </h1>

        <div class="flexConteiner matFit">
            <div>
                <button>
                    Материалы
                </button>
            </div>
            <div>
                <button>
                    Фурнитура
                </button>
            </div>
        </div>
    </div>

    <div class="flexConteiner materials">
        <button>
            <img src="img/BtnLeft.png" alt="">
        </button>
        <div>
            <img src="img/materialsImg1.jpg" alt="">
            <span>Лдсп</span>
        </div>
        <div>
            <img src="img/materialsImg2.jpg" alt="">
            <span>Стекло</span>
        </div>
        <button>
            <img src="img/BtnRight.png" alt="">
        </button>
        <div>
            <img src="img/materialsImg3.jpeg" alt="" width="509px" height="323px">
            <span>Ламинат</span>
        </div>
    </div>

    <div class="conteiner specialOffer">
        <h1 class="h1Title">
            Специальные предложения
        </h1>

        <div class="flexOffers">
            <div class="flexPriceOffer">
                <div class="offer1">
                    <div class="optionOffer flexConteiner">Хит продаж</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф Riviera/1</span>
                    <span class="priceOffer riviera1Price">1000р</span>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer2">
                    <div class="optionOffer flexConteiner">-50%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф Comfort/5</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">1800р</span>
                        <span class="priceOffer">900р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer3">
                    <div class="optionOffer flexConteiner">-30%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф WingLine</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">1200р</span>
                        <span class="priceOffer">840р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer4">
                    <div class="optionOffer flexConteiner">Рассрочка</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф Riviera/5</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice riviera5OldPrice">24 мес</span>
                        <span class="priceOffer riviera5Price">80р/мес</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer5">
                    <div class="optionOffer flexConteiner">-40%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф Comfort/3</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">700р</span>
                        <span class="priceOffer">420р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer6">
                    <div class="optionOffer flexConteiner">-15%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф WingLine/8</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">600р</span>
                        <span class="priceOffer">510р</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexConteiner wrapBTNWatchMore">
            <button class="watchMore">
                Смотреть ещё
            </button>
        </div>
    </div>

    <div class="followUs">
        <h1 class="h1Title">
            Акции
        </h1>
        <p class="pDiscraption">
            Узнай первым об акциях и скидках
        </p>
        <input type="text" placeholder="    введите номер телефона или email">
        <button class="BTNReference">
            Подписаться
        </button>
    </div>

    <div class="conteiner reviews">
        <h1 class="h1Title">
            Отзывы
        </h1>
        <div class="wrapReview">
            <p class="reviewName">
                @prlxlr13
            </p>
            <p class="review1">
                Хочу выразить свою благодарность всему коллективу компании, консультанту, замерщику и монтажникам.
                Ребята, которые устанавливали кухню, порадовали своей работой, все чисто, аккуратно и быстро. Нареканий
                по кухне нет, новая кухня – всегда радость для хозяйки!
            </p>
            <button class="BtnLeft">
                <img src="img/BtnLeft.png" alt="">
            </button>
            <button class="BtnRight">
                <img src="img/BtnRight.png" alt="">
            </button>
            <div class="wrapSwitchReview">
                <div class="switchReview">
                    <button></button>
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>