<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="media480.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>Madeshaf</title>
</head>

<body>
    <div class="list1">
        <div class="conteiner header" id="start">
            <div class="btnMenu">
                <button>
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 12V10.5H30V12H4.5ZM30 18V19.5H4.5V18H30ZM4.5 25.5H30V27H4.5V25.5Z" fill="#currentColor"/>
                    </svg>
                </button>
            </div>
            <p class="logo">
                MADESHAF
            </p>
            <div class="wrapMenu">
                <ul>
                    <li><a href="#aboutUs">О нас</a></li>
                    <li><a href="#catalog">Каталог</a></li>
                    <li><a href="#matFit">Материалы</a></li>
                    <li><a href="#price">Рассчитать<br>стоимость</a></li>
                    <li><a href="#reviews">Отзывы</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
            <p class="telTimeWork">
                +375259199290
                <br>
                Пн-Пт: 10:00-18:00
            </p>
        </div>

        <div class="conteiner flexConteiner wrapList1">
            <div class="discount">
                <h1>
                    Шкафы на заказ
                </h1>
                <p>
                    По заявке с сайта скидка 10% <span class="perenos"></span>каждому покупателю
                </p>
                <p>
                    До конца скидки осталось:
                </p>
                <div class="timer">
                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        30
                    </div>

                    <div class="square">
                        59
                    </div>
                    <br>
                    <span>Дни</span><span>Часы</span><span>Мин</span><span>Сек</span>


                    <form action="https://fe.it-academy.by/TestForm.php">
                        <input type="text" placeholder="    Введите номер телефона">
                        <br>
                        <button class="BTNReference" type="submit">
                            Получить скидку
                        </button>
                    </form>
                    <div class="telMessengMobil">
                        <div>
                            <ul class="linksMasangersIcons">
                                <li><a href=""></a><img src="img/logos/viber.png" alt="viber"></li>
                                <li><a href=""></a><img src="img/logos/tg.png" alt="telegram"></li>
                                <li><a href=""></a><img src="img/logos/what'sApp.png" alt="whatsapp"></li>
                            </ul>
                        </div>
                        <p>
                            +375259199290
                            <br>
                            Пн-Пт: 10:00-18:00
                        </p>
                    </div>

                </div>
            </div>
            <div class="linksMasangers">
                <div>

                </div>
                <div class="wrapLinksMasangers">
                    <ul class="linksMasangersIcons">
                        <li><a href=""></a><img src="img/logos/viber.png" alt="viber"></li>
                        <li><a href=""></a><img src="img/logos/tg.png" alt="telegram"></li>
                        <li><a href=""></a><img src="img/logos/what'sApp.png" alt="whatsapp"></li>
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="conteiner list2">
        <div class="wrapFrame">
            <div class="frame1"></div>
            <div class="frame2"></div>
            <div class="frame3"></div>
            <div class="frame4"></div>
        </div>

        <div>
            <h1 class="h1Title">
                Узнайте стоимость<br>мебели
            </h1>
            <p class="pDiscraption">
                Ответь на вопросы, получи скидку<span class="perenos"></span> и бесплатный<span
                    class="noPerenos"><br></span>дизайн проект
            </p>
            <button class="BTNReference">
                Пройти тест
            </button>
        </div>
    </div>

    <button class="BTNfixed">
        <a href="#start"><img src="img/btnTop.png" alt="top"></a>
    </button>

    <div class="conteiner aboutUs" id="aboutUs">
        <h1 class="h1Title">
            О нас
        </h1>
        <p>
            Мы рады видеть вас на нашем сайте, здесь представлены примеры наших работ и мебель, которую мы можем
            изготовить, в том числе по вашим индивидуальным запросам.
        <div class="dNoneMobile">
            Мы поможем сделать вашу квартиру, дом или офис более комфортным, функциональным и привлекательным. В
            производстве мебели мы используем лучшие материалы и современное оборудование, чтобы создавать по-настоящему
            красивую, удобную и качественную мебель.
        </div>
        <div class="flexConteiner">
            <div class="wrapSeeMoreMobile">
                <button class="seeMoreMobile">
                    Смотреть больше
                </button>
            </div>
        </div>
        </p>
    </div>

    <div class="conteiner WhyChooseUs">
        <h1 class="h1Title">
            Почему более 14 лет<span class="perenos"></span> клиенты выбирают<span class="perenos"></span> нас:
        </h1>
        <div class="BTNIcons flexConteiner">
            <div class="iconWithText">
                <button class="icon1">
                </button>
                <span>Рассрочки</span>
            </div>
            <div class="iconWithText">
                <button class="icon2">
                </button>
                <span>Заводские<br>цены</span>
            </div>
            <div class="iconWithText">
                <button class="icon3">
                </button>
                <span>Оперативные<br>сроки</span>
            </div>
            <div class="iconWithText">
                <button class="icon4">
                </button>
                <span>Акции, скидки,<br>бонусы</span>
            </div>
            <div class="iconWithText">
                <button class="icon5">
                </button>
                <span>Европейское<br>качество</span>
            </div>
            <div class="iconWithText">
                <button class="icon6">
                </button>
                <span>Бесплатная 3d<br>визуализация</span>
            </div>
        </div>

        <div class="payLater">
            <div class="frameForPayLater1"></div>
            <div class="frameForPayLater2 pDiscraption flexConteiner">
                <p>Возможность рассрочки от нашей компании с 0% переплат!</p>
                <div></div>
            </div>
        </div>
    </div>


    <div class="conteiner catalog" id="catalog">
        <h1 class="h1Title">
            Каталог
        </h1>

        <div class="flexConteiner">
            <div class="wrapFrame catalogImg">
                <a href="addPages/catalog.html" target="_blank">
                    <p class="catalogText1">
                        Шкаф-купе
                    </p>
                    <div class="frame1"></div>
                    <div class="frame2"></div>
                    <div class="frame3"></div>
                    <div class="frame4"></div>
                </a>
            </div>
            <div class="wrapFrame catalogImg">
                <p class="catalogText2">
                    Шкаф с распашными дверями
                </p>
                <div class="frame1"></div>
                <div class="frame2"></div>
                <div class="frame3"></div>
                <div class="frame4"></div>
            </div>
            <div class="wrapFrame catalogImg">
                <p class="catalogText3">
                    Кухни
                </p>
                <div class="frame1"></div>
                <div class="frame2"></div>
                <div class="frame3"></div>
                <div class="frame4"></div>
            </div>
        </div>
        <div class="WrapCatalogImgMobile">
            <div class="catalogImgMobile">
                <p class="catalogText2">
                    Шкаф с распашными<br>дверями
                </p>
            </div>
        </div>
    </div>

    <div class="conteiner modernMaterials">
        <h1 class="h1Title">
            Современные<span class="perenos"></span> материалы
        </h1>

        <div class="flexConteiner matFit" id="matFit">
            <div>
                <button>
                    Материалы
                </button>
            </div>
            <div>
                <button>
                    Фурнитура
                </button>
            </div>
        </div>


        <div class="conteiner materials">
            <button>
                <img src="img/BtnLeft.png" alt="">
            </button>

            <div class="wrapMaterials">
                <div class="materialsImg">
                    <img src="img/materialsImg1.jpg" alt="">
                    <span>Лдсп</span>
                </div>
                <div class="materialsImg">
                    <img src="img/materialsImg2.jpg" alt="">
                    <span>Стекло</span>
                </div>
            </div>

            <button>
                <img src="img/BtnRight.png" alt="">
            </button>

            <!-- <div>
            <img src="img/materialsImg3.jpeg" alt="" width="509px" height="323px">
            <span>Ламинат</span>
        </div> -->
        </div>
    </div>

    <div class="conteiner specialOffer" id="price">
        <h1 class="h1Title">
            Специальные<span class="perenos"></span> предложения
        </h1>

        <div class="flexOffers">
            <div class="flexPriceOffer">
                <div class="offer1">
                    <div class="optionOffer flexConteiner">Хит продаж</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> Riviera/1</span>
                    <span class="priceOffer riviera1Price">1000р</span>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer2">
                    <div class="optionOffer flexConteiner">-50%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> Comfort/5</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">1800р</span>
                        <span class="priceOffer">900р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer3">
                    <div class="optionOffer flexConteiner">-30%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> WingLine</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">1200р</span>
                        <span class="priceOffer">840р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer4">
                    <div class="optionOffer flexConteiner">Рассрочка</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> Riviera/5</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice riviera5OldPrice">24 мес</span>
                        <span class="priceOffer riviera5Price">80р/мес</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer5">
                    <div class="optionOffer flexConteiner">-40%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> Comfort/3</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">700р</span>
                        <span class="priceOffer comfort3Price">420р</span>
                    </div>
                </div>
            </div>

            <div class="flexPriceOffer">
                <div class="offer6">
                    <div class="optionOffer flexConteiner">-15%</div>
                </div>
                <div class="wrapFlexForDescription">
                    <span class="nameOffer pDiscraption">Шкаф<span class="perenos"></span> WingLine/8</span>
                    <div class="wrapFlexForPrice">
                        <span class="oldPrice">600р</span>
                        <span class="priceOffer">510р</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexConteiner wrapBTNWatchMore">
            <button class="watchMore">
                Смотреть ещё
            </button>
        </div>
    </div>

    <form action="">
        <div class="followUs">
            <div class="wrapFollowUs">
                <h1 class="h1Title">
                    Акции
                </h1>
                <p class="pDiscraption">
                    Узнай первым об акциях и скидках
                </p>

                <!-- <div class="wrapInputNumber"></div> -->
                <input type="text" placeholder="    введите номер телефона или email">

                <button class="BTNReference">
                    Подписаться
                </button>
            </div>
        </div>
    </form>
    
    <div class="conteiner reviews" id="reviews">
        <h1 class="h1Title">
            Отзывы
        </h1>
        <div class="wrapReview">
            <div class="review active">
                <p class="reviewName">@prlxlr13</p>
                <p class="reviewText">
                    Хочу выразить свою благодарность всему коллективу компании, консультанту, замерщику и монтажникам.
                    Ребята, которые устанавливали кухню, порадовали своей работой, все чисто, аккуратно и быстро.
                    Нареканий
                    по кухне нет, новая кухня – всегда радость для хозяйки!
                </p>
            </div>
            <div class="review">
                <p class="reviewName">@maria_k</p>
                <p class="reviewText">
                    Заказывали шкаф-купе в спальню. Очень довольны результатом! Дизайнер предложил отличное решение,
                    которое идеально вписалось в пространство. Качество материалов на высоте, сборка аккуратная.
                    Спасибо за профессионализм и внимательность к деталям!
                </p>
            </div>
            <div class="review">
                <p class="reviewName">@ivanov_family</p>
                <p class="reviewText">
                    Делали полный заказ мебели для детской комнаты. Отдельное спасибо за индивидуальный подход
                    и учет всех пожеланий. Мебель получилась не только красивой, но и функциональной.
                    Дети в восторге от своих новых шкафов и стеллажей!
                </p>
            </div>
            <div class="review">
                <p class="reviewName">@elena_design</p>
                <p class="reviewText">
                    Заказывала кухонный гарнитур. Впечатлена качеством работы на всех этапах: от консультации
                    до установки. Особенно понравилось, что учли все нюансы планировки и предложили
                    оптимальное решение. Рекомендую!
                </p>
            </div>
            <button class="BtnLeft">
                <img src="img/BtnLeft.png" alt="">
            </button>
            <button class="BtnRight">
                <img src="img/BtnRight.png" alt="">
            </button>
            <div class="wrapSwitchReview">
                <div class="switchReview">
                    <button></button>
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
        </div>
    </div>

    <div class="production">

        <div class="conteiner ">
            <h1 class="h1Title">
                Производство
            </h1>
        </div>

        <div class="productionImg">
            <div class="productionImgLeft"></div>
            <div class="productionImgRight"></div>
            <div class="productionImgFonText">
                <div><span>1</span>Минимальный опыт<p class="perenos"></p> работы наших<p class="perenos"></p>
                    монтажников — 10 лет</div>
                <div><span>2</span>Любые размеры, цвет,<p class="perenos"></p> дизайн и фурнитура</div>
                <div><span>3</span>Установка в удобные<p class="perenos"></p> для Вас день и время</div>
                <div><span>4</span>Сроки изготовления<p class="perenos"></p> 5-15 дней</div>
            </div>
        </div>
    </div>

    <div class="conteiner planWork">
        <h1 class="h1Title">
            Как мы работаем
        </h1>

        <div class="workPlanFlex">
            <img src="img/logos/workPlanLogo1.png" alt="">
            <p class="workPlanText">
                Заказать выезд дизайнера
            </p>
            <img src="img/logos/rightArrow1.png" alt="">
            <img src="img/logos/workPlanLogo2.png" alt="">
            <p class="workPlanText">
                Обмер
            </p>
        </div>
        <div class="workPlanFlex workPlanLine2">
            <img src="img/logos/workPlanLogo3.png" alt="">
            <p class="workPlanText">
                Оформление договора
            </p>
            <img src="img/logos/leftArrow2.png" alt="">
            <img src="img/logos/workPlanLogo4.png" alt="">
            <p class="workPlanText pRelative">
                Построение проекта
                <img src="img/logos/bottomArrow2-3.png" alt="bottomArrow2">
            </p>
        </div>
        <div class="workPlanFlex">
            <img src="img/logos/workPlanLogo5.png" alt="">
            <p class="workPlanText pRelative">
                Производство
                <img src="img/logos/bottomArrow2-3.png" alt="bottomArrow3">
            </p>
            <img src="img/logos/rightArrow3.png" alt="rightArrow3">
            <img src="img/logos/workPlanLogo6.png" alt="">
            <p class="workPlanText">
                Установка
            </p>
        </div>
    </div>

    <div class="conteiner planWorkMobile">
        <h1 class="h1Title">
            Как мы работаем
        </h1>

        <div class="iconText">
            <img src="img/logos/workPlanLogo1.png" alt="">
            <p class="workPlanText">
                Заказать выезд <br>дизайнера
            </p>
        </div>
        <img src="img/logos/arrowBottom.png" alt="">
        <div class="iconText">
            <img src="img/logos/workPlanLogo2.png" alt="">
            <p class="workPlanText">
                Обмер
            </p>
        </div>
        <img src="img/logos/arrowBottom.png" alt="">
        <div class="iconText">
            <img src="img/logos/workPlanLogo4.png" alt="">
            <p class="workPlanText">
                Построение <br>проекта
            </p>
        </div>
        <img src="img/logos/arrowBottom.png" alt="">
        <div class="iconText">
            <img src="img/logos/workPlanLogo3.png" alt="">
            <p class="workPlanText">
                Оформление <br>договора
            </p>
        </div>
        <img src="img/logos/arrowBottom.png" alt="">
        <div class="iconText">
            <img src="img/logos/workPlanLogo5.png" alt="">
            <p class="workPlanText">
                Производство
            </p>
        </div>
        <img src="img/logos/arrowBottom.png" alt="">
        <div class="iconText">
            <img src="img/logos/workPlanLogo6.png" alt="">
            <p class="workPlanText">
                Установка
            </p>
        </div>



    </div>

    <div class="askPrice">
        <img src="img/askPriceImg.jpg" alt="">
        <div class="askPriceText">
            <h1>
                Узнайте стоимость<br>мебели
            </h1>
            <div>
                <img src="img/askPriceImgMobile.jpg" alt="mobile">
                <p>
                    Ответь на<span class="perenos"></span> вопросы, получи<span class="perenos"></span> скидку и
                    бесплатный<br>дизайн проект
                </p>
            </div>
            <p>
                <button class="BTNReference">
                    Пройти тест
                </button>
            </p>
        </div>
    </div>

    <div class="conteiner contacts" id="contacts">
        <h1 class="h1Title">
            Контакты
        </h1>
        <div class="wrapContacts">
            <div class="contactsText">
                <p class="">
                    Адрес офиса:<br>
                    г.Минск ул П Бровки 45
                </p>
                <p class="">
                    Номер телефона:<br>+375-25-919-92-90
                </p>
                <p class="">
                    Email:<br>info@gmail.com
                </p>
                <p class="">
                    Режим работы:<br>пн-вс 9:00-21:00
                </p>
                <p class="">
                    <a href="www.viber.com" class="messengersSpriteViber">
                    </a>
                    <a href="www.telegram.com" class="messengersSpriteTelegram">
                    </a>
                    <a href="www.whatsapp.com" class="messengersSpriteWhatsapp">
                    </a>
                </p>
            </div>

            <div class="wrapOrderConsultation flexConteiner">
                <div class="orderConsultation">
                    <p>
                        Заказать консультацию
                    </p>
                    <form action="" class="formOrderConsultation">
                        <input type="text" placeholder="    Номер телефона">

                        <input type="text" placeholder="    Email">

                        <textarea name="" id="" placeholder="    Коментарии"></textarea>

                        <button class="BTNReference" type="submit">
                            Заказать
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="conteiner wrapFooter flexConteiner">
            <div>
                <p class="footerLogo">
                    MADESHKAF
                </p>
                <img src="img/mapFooterMobile.jpg" alt="" class="mapFooterMobile">
                <img src="img/logos/pointFooter.png" alt="" class="pointFooterMobile">
            </div>
            <ul>
                <li><a href="#aboutUs"></a>О нас</a></li>
                <li><a href="#catalog">Каталог</a></li>
                <li><a href="#matFit">Материалы</a></li>
                <li><a href="#price">Цены</a></li>
                <li><a href="#reviews">Отзывы</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
            <div>
                <img src="img/mapFooter.jpg" alt="" class="mapFooter">
                <img src="img/logos/pointFooter.png" alt="" class="pointFooter">
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>