<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <title>Madeshaf</title>
</head>

<body>
    <div class="list1">
        <div class="conteiner header">
            <p class="logo">
                MADESHAF
            </p>
            <ul>
                <li>О нас</li>
                <li>Каталог</li>
                <li>Материалы</li>
                <li>Рассчитать<br>стоимость</li>
                <li>Отзывы</li>
                <li>Контакты</li>
            </ul>
            <p class="telTimeWork">
                +375259199290
                <br>
                Пн-Пт: 10:00-18:00
            </p>
        </div>

        <div class="conteiner flexConteiner wrapList1">
            <div class="discount">
                <h1>
                    Шкафы на заказ
                </h1>
                <p>
                    По заявке с сайта скидка 10% каждому покупателю
                </p>
                <p>
                    До конца скидки осталось:
                </p>
                <div class="timer">
                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        0
                    </div>

                    <div class="square">
                        30
                    </div>

                    <div class="square">
                        59
                    </div>
                    <br>
                    <span>Дни</span><span>Часы</span><span>Мин</span><span>Сек</span>


                    <form action="">
                        <input type="text" placeholder="    Введите номер телефона">
                        <br>
                        <button class="BTNReference" type="submit">
                            Получить скидку
                        </button>
                    </form>
                </div>
            </div>
            <div class="linksMasangers">
                <div>

                </div>
                <div>
                    <ul>
                        <li><a href=""></a><img src="img/logos/viber.png" alt="viber"></li>
                        <li><a href=""></a><img src="img/logos/tg.png" alt="telegram"></li>
                        <li><a href=""></a><img src="img/logos/what'sApp.png" alt="whatsapp"></li>
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="conteiner flexConteiner list2">
        <div class="frame">
            <div></div>
        </div>

        <div>
            <h1 class="h1Title">
                Узнайте стоимость<br>мебели
            </h1>
            <p class="pDiscraption">
                Ответь на вопросы,получи скидку и бесплатный<br>дизайн проект
            </p>
            <button class="BTNReference">
                Пройти тест
            </button>
        </div>
    </div>
</body>

</html>