@media (max-width: 480px) {
    body {
        width: 119%;
    }
    .flexConteiner {
        justify-content: center;
    }
    .conteiner {
        width: 100%;
        margin: 0px;
        padding: 0px 16px;
    }
    .BTNReference {
        width: 209px;
        font-size: 18px;
        margin: 0;
    }
    .wrapList1 {
        width: 752px;
    }
    .h1Title {
        font-size: 39px;
    }
    .pDiscraption {
        font-size: 20px;
    }
    .perenos::before {
        content: "\A";
        white-space: pre;
    }
    .noPerenos {
        content: '';
        display: none;
    }
    .dNoneMobile {
        display: none;
    }
    .wrapSeeMoreMobile {
        width: 178px;
        border-bottom: 1px solid #937A60; 
        display: flex;
        justify-content: center;
    }
    .seeMoreMobile {
        display: block;
        color: #937A60;
        font-size: 19px;
        background: none;
        border: none;
        margin-top: 37px;
    }


    .wrapList1 {
        height: 752px;
    }
    .list1 {
        background: url('img/fonMobilHeader.png') no-repeat center,
        url('img/fonHeaderMobil1.jpg') no-repeat center;
        /* background-position: 0px 162px, 0px 0px; */
        background-size: 100%, 100%;
    }


    .wrapMenu {
        display: none;
    }

    .btnMenu {
        display: block;
        width: 26px;
        height: 17px;
    }

    .btnMenu button {
        background: none;
        border: none;
        width: 26px;
        height: 17px;
    }

    .discount {
        /* background: url(img/fonMobilHeader.png) no-repeat; */
    }

    .discount h1 {
        font-size: 39px;
        margin-bottom: 23px;
        /* margin-top: 32px; */
        position: relative;
       
    }

    .discount h1::before {
        content: url(img/promotion.png);
        position: absolute;
        top: -63px;
        left: -16px;
    }

    .discount p:first-of-type {
        font-size: 20px;
        margin-bottom: 17px;
    }
    
    .discount p:nth-of-type(2) {
        font-size: 18px;
        margin-bottom: 11px;
    }

    .discount input {
        width: 320px;
        font-size: 19px;
        margin-top: 21px;
    }

    .square {
        width: 30px;
        height: 30px;
        font-size: 19px;
    }

    .discount span {
        font-size: 15px;
    }

    .discount span:nth-of-type(1) {
        margin-right: 17px;
    }
    
    .discount span:nth-of-type(3) {
        margin-right: 19px;
    }

    .timer button {
        margin-bottom: 32px;
    }

    .telTimeWork {
        display: none;
    }

    .telMessengMobil {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 76px;
    }

    .linksMasangersIcons li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
    }

    .telMessengMobil p {
        text-align: center;
        font-size: 19px;
    }


    .list2 {
        margin-top: 70px;
        margin-bottom: 130px;
        justify-content: center;
    }

    .list2 div:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list2 .wrapFrame {
        display: none;
    }

    .list2 .pDiscraption {
        text-align: center;
    }

    .list2 button {
        font-size: 26px;
    }

    .aboutUs {
        margin-bottom: 100px
    }

    .WhyChooseUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .WhyChooseUs h1 {
        font-size: 39px;
    }

    .BTNIcons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        max-width: 100%;
    }

    .iconWithText {
        width: 140px;
    }

    .payLater {
        display: none
    }

    /* .iconWithText:nth-of-type(3)::before {
        content: 'Возможность рассрочки от нашей компании с 0% переплат!';
        display: block;
        font-size: 20px;
        width: 100%;
        height: 175px;
    }
     */

    .catalog h1 {
        margin: 100px auto 38px;
    }

    .catalogImg:nth-of-type(2) {
        display: none;
    }

    .catalogImg div {
        display: none;
    }

    .catalogImg {
        width: 144px;
        height: 267px;
    }

    .catalog .flexConteiner div:nth-of-type(1) {
        background:
            url(img/catalogFonForImgMobile.png),
            url(img/catalogImg1Mobile.jpg);
    }

    .catalog .flexConteiner div:nth-of-type(3) {
        background:
            url(img/catalogFonForImgMobile.png),
            url(img/catalogImg2Mobile.jpg);
    }

    .catalogText1, .catalogText3 {
        margin: 121px auto;
        font-size: 23px;
    }

    .catalogText2 {
        margin: 0;
        font-size: 23px;
        color: #fff;
        text-align: center;
    }

    .catalogImgMobile {
        width: 318px;
        height: 144px;
        display: block;
        background:
            url(img/catalogFonForImgMobile3.png),
            url(img/catalogImg3Mobile.jpg);
        padding: 46px 0;
    }

    .modernMaterials h1 {
        margin: 102px auto 40px;
    }


    .matFit div {
        width: 160px;
        height: 28px;
        margin-bottom: 26px;
    }

    .matFit button {
        font-size: 25px;
    }

    .materials {
        margin-bottom: 104px;
    }

    .materialsImg:nth-of-type(2) {
        display: none;
    }

    .materialsImg:nth-of-type(1) {
        width: 248px;
        height: 200px;
    }
    .materialsImg span {
        font-size: 20px;
        margin-top: 19px;
    }
    img[src="img/materialsImg1.jpg"] {
        width: 248px;
        height: 174px;
    }


    .materials button {
        position: static;
        margin-top: -46px;
    }

    .materials button:first-of-type {
        margin-right: 20px;
    }
    .materials button:last-of-type {
        margin-left: 20px;
    }

    .flexOffers {
        
    }

    .flexPriceOffer:nth-of-type(3), .flexPriceOffer:nth-of-type(6) {
        display: none;
    }

    [class^='offer'] {
        width: 144px;
        height: 203px;
    }

    .optionOffer {
        /* width: 87px; */
        height: 31px;
        font-size: 11px;
        padding: 12px;
    }

    .nameOffer {
        font-size: 16px;
    }

    .priceOffer {
        font-size: 19px;
    }

    .comfort3Price, .riviera5Price {
        font-size: 16px;
    }

    .wrapFollowUs {
        background: none;
    }

    .followUs {
        margin: 58px auto;
    }

    .followUs h1 {
        margin: 57px auto 20px;
    }

    .followUs p {
        margin-bottom: 25px;
    }

    .followUs input {
        width: 328px;
        height: 56px;
        font-size: 20px;
        margin-bottom: 35px;
    }

    .followUs button {
        width: 248px;
        height: 49px;
        font-size: 20px;
        margin-bottom: 58px;
    }

    .reviews {
        margin-bottom: 103px;
    }

    .wrapReview {
        margin: 0;
    }

    .reviewName {
        margin: 41px auto 24px 9px;
        font-size: 22px;
    }

    .review1 {
        font-size: 19px;
    }

    .switchReview button {
        width: 16px;
        height: 16px;
    }

    .productionImg {
        height: 466px;
        gap: 5px;
    }

    .productionImg img {
        width: 100%;
        height: 100%;
    }

    .productionImgFonText {
        width: 288px;
        height: 379px;
    }

    .productionImgFonText p {
        font-size: 20px;
    }

    .productionImgFonText {
        left: 67px;
        top: 74px;
        transform: none;
    }
    
/* 
    .productionImgFonText {
        position: absolute;
        left: 50%;
        top: 40px; 
        transform: translateX(-50%);
        width: 90vw;
        max-width: 320px;
        min-width: unset;
        height: auto;
        min-height: 255px;
        background: url('img/fonForProduction.png') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 10px;
        box-sizing: border-box;
    }
    
    .productionImgFonText p {
        font-size: 16px;
        line-height: 1.3;
        margin: 0 0 12px 0;
        text-align: center;
    }
    
    .productionImgFonText p span {
        font-size: 28px;
        margin-right: 8px;
    } */

}

    
