* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.h1Title {
    font-size: 68px;
    color: #937A60;
}

.BTNReference {
    font-size: 28px;
    padding: 14px auto;
    width: 260px;
    height: 56px;
    background-color: #AF9678;
    color: white;
    border-radius: 8px;
}

.pDiscraption {
    font-size: 30px;
    color: #11100E;
}


.flexConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BTNfixed {
    position: fixed;
    right: 56px;
    bottom: 56px;
    width: 76px;
    height: 76px;
    cursor: pointer;
}

button {
    cursor: pointer;
}









.list1 {
    background: url(img/fonHeader.jpg) no-repeat;
    background-size: cover;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40px; */
    padding: 10px 0;

}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #C0AD95;
    margin-right: 50px;
}

.header ul {
    display: flex;
    gap: 45px;
    align-items: flex-start;
    list-style: none;
    font-size: 24px;
}

.telTimeWork {
    font-size: 24px;
    margin-left: 50px;
    text-align: right;
}

.wrapList1 {
    height: 928px;
    position: relative;
}


.discount input {
    width: 510px;
    height: 50px;
    border-radius: 8px;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 28px;
}

.discount h1 {
    font-size: 70px;
    margin-bottom: 43px;
}

.discount p:first-of-type {
    font-size: 33px;
    margin-bottom: 20px;
}

.discount p:nth-of-type(2) {
    font-size: 26px;
    margin-bottom: 9px;
}

.square {
    display: inline-block;
    margin-right: 13px;
    width: 44px;
    height: 40px;
    background-color: #fff;
    color: #11100E;
    font-size: 26px;
    text-align: center;
}

.timer-text {
    display: inline-block;
    font-size: 21px;
}

.discount span {
    font-size: 21px;
}

.discount span:nth-of-type(1) {
    margin-left: 3px;
    margin-right: 22px;
}

.discount span:nth-of-type(2) {
    margin-right: 18px;
}

.discount span:nth-of-type(3) {
    margin-right: 25px;
}

.linksMasangers {
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 0;
}

.linksMasangers div:nth-of-type(1) {
    width: 1px;
    height: 450px;
    border-right: 1px solid #fff;
}

.linksMasangers ul {
    list-style: none;
}

.linksMasangers ul li {
    margin-bottom: 17px;
    margin-left: -9px;
    /* margin-right: -5px; */
}

.linksMasangers ul li:nth-of-type(1) {
    margin-top: 34px;
    margin-bottom: 15px;
}

.linksMasangers ul li:nth-of-type(3) {
    margin-bottom: 34px;
}

.linksMasangers div:nth-of-type(3) {
    width: 1px;
    height: 240px;
    border-right: 2px solid #fff;
    margin-bottom: 44px;
}


.list2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 117px auto;
}

.list2 div:first-of-type {
    background: url(img/list2.jpg);
}

.wrapFrame {
    position: relative;
    margin-right: 60px;
    width: 360px;
    height: 544px;
}

.frame1 {
    position: absolute;
    top: 0;
    right: -28px;
    width: 2px;
    height: 100px;
    border-right: 2px solid #000;
}

.frame2 {
    position: absolute;
    top: -28px;
    right: 0px;
    width: 100px;
    height: 2px;
    border-top: 2px solid #000;
}

.frame3 {
    position: absolute;
    bottom: -28px;
    left: 0px;
    width: 119px;
    height: 2px;
    border-top: 2px solid #000;
}

.frame4 {
    position: absolute;
    bottom: 0px;
    left: -28px;
    width: 2px;
    height: 103px;
    border-left: 2px solid #000;
}

.list2 h1 {
    color: #11100E
}

.list2 p {
    margin: 26px auto 34px;
}

.aboutUs {
    border-top: 2px solid #AF9678;
}

.aboutUs h1 {
    text-align: center;
    margin: 59px auto 40px;
}

.aboutUs p {
    font-size: 30px;
    color: #000;
}

.WhyChooseUs {
    margin: 145px auto;
}

.WhyChooseUs h1 {
    font-size: 63px;
}

.iconWithText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 152px;
}

.iconWithText span {
    margin-top: 18px;
    font-size: 26px;
    color: #000;
    text-align: center;
}

.BTNIcons {
    margin: 79px auto 19px;
}

.BTNIcons button {
    width: 152px;
    height: 152px;
    border: none;
}

.icon1 {
    height: 142px;
    background: url(img/logos/WhyChooseUs1.png) no-repeat;
}

.icon2 {
    background: url(img/logos/WhyChooseUs2.png) no-repeat;
}

.icon3 {
    background: url(img/logos/WhyChooseUs3.png) no-repeat;
}

.icon4 {
    background: url(img/logos/WhyChooseUs4.png) no-repeat;
}

.icon5 {
    background: url(img/logos/WhyChooseUs5.png) no-repeat;
}

.icon6 {
    background: url(img/logos/WhyChooseUs6.png) no-repeat;
}

.payLater {
    text-align: center;
    margin-left: 87px;
}

.frameForPayLater1 {
    width: 936px;
    height: 68px;
    border-left: 2px solid #AF9678;
}

.frameForPayLater2 {
    justify-content: center;
    position: relative;
    width: 936px;
    height: 122px;
    border-right: 2px solid #AF9678;
    border-top: 2px solid #AF9678;
}

.frameForPayLater2 div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 1px;
    border-bottom: 2px solid #AF9678;
    color: #000;
}


.catalog h1 {
    margin: 145px auto 125px;
}

.catalogImg {
    width: 332px;
    height: 608px;
    /* padding: 50px auto; */
}

.catalogImg p {
    color: #fff;
    text-align: center;
}

.catalogText1 {
    margin: 285px auto;
    font-size: 33px;
}

.catalogText2 {
    font-size: 29px;
    margin: 265px auto;
}

.catalogText3 {
    margin: 285px auto;
    font-size: 35px;
}

.catalog .flexConteiner div:nth-of-type(1) {
    background:
        url(img/catalogFonForImg.png),
        url(img/catalogImg1.jpg);
}

.catalog .flexConteiner div:nth-of-type(2) {
    background:
        url(img/catalogFonForImg.png),
        url(img/catalogImg2.jpg);
}

.catalog .flexConteiner div:nth-of-type(3) {
    background:
        url(img/catalogFonForImg.png),
        url(img/catalogImg3.jpg);
}


.modernMaterials h1 {
    margin: 159px auto 100px;
}

.matFit {
    justify-content: space-around;
}


.matFit button {
    background: none;
    border: none;
    font-size: 40px;
    color: #000;
}

/* .matFit button:nth-of-type(1) {
text-decoration: underline;
} */

.matFit div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 337px;
    height: 63px;
}

.matFit div:first-of-type {
    border-bottom: 2px solid #000;
}

.materials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 59px auto 149px;
}

.wrapMaterials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.materials button {
    position: absolute;
    background: none;
    border: none;
}

.materials button:first-of-type {
    left: 15px;
    top: 42%;
}
.materials button:last-of-type {
    right: 15px;
    top: 42%;
}

.materialsImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materials div:last-of-type {
    overflow: hidden;
}

.materials span {
    margin-top: 18px;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.specialOffer {
    margin: 149px auto 104px;
}

.specialOffer h1 {
    margin-bottom: 98px;
}

.flexOffers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.offer1 {
    background: url(img/offer1.jpg);
}

.offer2 {
    background: url(img/offer2.jpg);
}

.offer3 {
    background: url(img/offer3.jpg);
}

.offer4 {
    background: url(img/offer4.jpg);
}

.offer5 {
    background: url(img/offer5.jpg);
}

.offer6 {
    background: url(img/offer6.jpg);
}

[class^='offer'] {
    position: relative;
    width: 340px;
    height: 432px;
}

.optionOffer {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 19px;
    color: #fff;
    background-color: #11100E;
    padding: 10px 19px;
}

.nameOffer {
    margin-top: 16px;
}

.priceOffer {
    font-size: 28px;
    color: #E52B2B;
    margin-left: 8px;
    font-weight: bold;
}

.riviera1Price,
.riviera5Price {
    color: #937A60;
}

.riviera1Price {
    margin-top: 16px;
}

.riviera5Price {
    font-size: 25px;
}

.oldPrice {
    font-size: 13px;
    color: #937A60;
    margin-right: 8px;
}

.riviera5OldPrice {
    color: #E52B2B;
}

.flexPriceOffer {
    /* display: flex; */
}

/* .price-row {
    display: flex;
    align-items: flex-end;
    gap: 12px;
} */

.wrapFlexForDescription {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.wrapFlexForPrice {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wrapBTNWatchMore {
    justify-content: center;
    margin-top: 45px;
}

.watchMore {
    width: 276px;
    height: 28px;
    background: none;
    border: none;
    font-size: 30px;
    color: #937A60;
}

.followUs {

    margin: 104px auto 148px;
    background-color: #161513;
    z-index: 1;
}

.wrapFollowUs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.followUs h1 {
    margin: 134px auto 30px;
    color: #fff;
}

.followUs p {
    margin-bottom: 43px;
    color: #fff;
}

.wrapInputNumber {
    width: 455px;
    height: 464px;
    position: absolute;
    top: 18%;
    left: 60%;
    background:url(img/iphone.png) no-repeat;
    z-index: 0;
}

.followUs input {
    width: 758px;
    height: 64px;
    border-radius: 8px;
    font-size: 30px;
    z-index: 1;
    /* background:
        url(img/iphone.png) no-repeat;
    background-position: 1034px 125px; */
}

.BTNReference {
    margin: 55px auto 134px;
    width: 286px;
}

.reviews {
    margin-bottom: 149px;
}

.wrapReview {
    margin-left: 47px;
    position: relative;
}

.reviewName {
    margin: 79px auto 59px;

    font-size: 37px;
    color: #000;
}

.review1 {
    font-size: 30px;
    color: #000;
}

.reviews button {
    background: none;
    border: none;
}

.BtnLeft {
    position: absolute;
    top: 50%;
    left: -96px;
}

.BtnRight {
    position: absolute;
    right: -96px;
    top: 50%;
}

.wrapSwitchReview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchReview {
    width: 158px;
    height: 26px;
    margin-top: 27px;
}

.switchReview button {
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    border: solid 1px #937A60;
}

.switchReview button:nth-of-type(1) {
    background: #937A60;
}

.production {
    margin: 149px auto;
}

.production h1 {
    margin-bottom: 116px;
}

.productionImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 604px;
    position: relative;
}

.productionImgLeft {
    flex-grow: 1;
    height: 100%;
    background: url(img/productionImgLeft.jpg) no-repeat;
    background-size: cover;
}

.productionImgRight {
    /* width: 69%; */
    flex-grow: 2;
    height: 100%;
    background: url(img/productionImgRight.jpg) no-repeat;
    background-size: cover;
}

.productionImgFonText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    width: 948px;
    height: 340px;
    background: url(img/fonForProduction.png) no-repeat;
}

.productionImgFonText p {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.productionImgFonText p span {
    font-size: 49px;    
    position: relative;
}

.productionImgFonText p span::before {
    content: url(img/logos/0.png);
    position: absolute;
    top: -5px;
    left: -7px;
    z-index: -1;
}

.planWork h1 {
    margin-bottom: 97px;
}

.workPlanFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.workPlanText {
    font-size: 30px;
    color: #000;
    margin-left: 28px;
}

img[src="img/logos/rightArrow1.png"] {
    margin-left: 55px;
    margin-right: 36px;
}

.workPlanLine2 {
    margin: 71px auto;
}

img[src="img/logos/leftArrow2.png"] {
    margin-left: 77px;
    margin-right: 52px;
}

.pRelative {
    position: relative;
}

img[alt="bottomArrow2"] {
    position: absolute;
    top: -110px;
    left: 69px;
}

img[alt="bottomArrow3"] {
    position: absolute;
    top: -110px;
    left: -10px;
}

img[alt="rightArrow3"] {
    margin-left: 71px;
    margin-right: 79px;
}


.askPrice {
    margin: 148px auto;
    background-color: #11100E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.askPriceText {
    margin-left: 70px;
}

.askPriceText h1 {
    font-size: 68px;
    color: #fff;
}

.askPriceText p {
    font-size: 30px;
    color: #fff;
    margin-top: 26px;
    margin-bottom: 34px;
}

.wrapOrderConsultation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 720px;
    background: url(img/fonOrderConsultation.jpg);

}

.orderConsultation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formOrderConsultation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderConsultation p {
    font-size: 30px;
    color: #fff;
    margin-top: 90px;
    margin-bottom: 36px;
}

.formOrderConsultation input {
    font-size: 26px;
    width: 412px;
    height: 56px;
    border-radius: 10px;
}

.formOrderConsultation input:nth-of-type(2) {
    margin: 32px auto;
}

.formOrderConsultation textarea {
    font-size: 26px;
    width: 412px;
    height: 242px;
    border-radius: 10px;
}

.formOrderConsultation button {
    margin: 50px auto 66px;
}

.wrapContacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contactsText {
    font-size: 30px;
    color: #000;
    margin-left: 83px;
}

.contactsText p {
    margin-bottom: 50px;

}

.messengersSpriteViber {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(img/logos/messengersSprite.png);
    background-position: 0 0;
}
.messengersSpriteTelegram {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(img/logos/messengersSprite.png);
    background-position: -57px 0;
}

.messengersSpriteWhatsapp {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(img/logos/messengersSprite.png);
    background-position: -115px 0;
}

footer {
    padding: 53px 0;
    margin-top: 190px;
    background-color: #937A60;
}

footer p {
    margin-bottom: 9px;
    font-size: 30px;
    color: #fff;
}

.footerLogo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.wrapFooter div p:last-of-type {
   margin-bottom: 0;
}

footer img {
    border-radius: 8px;
}